[2018-03-13 01:01] verdverm opened #1 "no dock on nix/win"
FYI, the following line is breaking testing on non-Mac machines

https://github.com/floating/frame/blob/7fa8bb40227989d7f419d47dd6b943a751fed7d0/main/index.js#L19

Was able to get it running on Mac though!

[2018-03-13 01:25] floating commented on #1
Thanks verdverm! Yes, `app.dock.hide()` is macOS only. I've been developing on macOS so there are some platform specific assumptions sill included. I'll be working to make everything platform agnostic very soon. Thanks for taking the time to run the demo!

[2018-03-13 05:29] coinop-logan opened #2 "npm run demo fails on Win10"
Running `npm run demo` seems to fail on Windows 10.

[Here's what it looks like from the command prompt.](https://github.com/floating/frame/files/1805573/errors.txt)

[Here's the debug log.](https://github.com/floating/frame/files/1805570/2018-03-13T05_22_42_374Z-debug.log)

[2018-03-13 13:15] ligi opened #3 "problem running npm run demo on linux"
the project sounds super interesting - unfortunately I am getting the following error after runnint npm run demo on linux:

[code]

unfortunately the file "/home/ligi/git/3rd/frame/npm-debug.log" does not exist

[2018-03-13 13:48] floating commented on #3
Hey @ligi! I think this particular issue is related to the node version you're running, see https://github.com/electron/electron-rebuild/issues/200.

[2018-03-13 16:10] floating commented on #1
@verdverm I've made the dock icon settings conditional which should solve this particular issue, see #4.

[2018-03-13 21:43] floating commented on #2
Hey @coinop-logan!

For Windows please run `npm install --global --production windows-build-tools` as administrator. You can find more info about this here: https://github.com/felixrieseberg/windows-build-tools.

After that, be sure to delete your `frame/node_modules` and pull down the latest as I've added some cross-platform compatibility updates -- then try to run the demo again.

Let me know if

[2018-03-13 22:03] floating commented on #1
I've also tested and confirmed the demo is functional on Windows 10, see #2 if you run into any issues.

[2018-03-14 11:16] holiman opened #7 "Integration with Clef"
I'm working on creating a standalone signer: https://github.com/holiman/go-ethereum/blob/signer_mhs/cmd/signer/README.md . This is one step in the work to remove account management from geth, and instead have a separate signer with it's own UI. The user can choose an external UI (e.g proof of concept UI https://github.com/holiman/qtsigner ).

The main idea is that you can then run the signer on a

[2018-03-14 17:51] floating commented on #7
Hey @holiman, cool! Yes, I think Frame should work with any signer the user chooses to best serve their needs. It just comes down to developing standards around discovering signers across different transports and developing patterns to help users understand the differences and risks across signer types.

[2018-03-15 15:21] floating commented on #1
Closing for now, let me know if you still have any problems running the demo.

[2018-03-15 15:21] #1 closed

[2018-03-15 15:23] floating commented on #3
Closing for now, let me know if you run into any issues after updating node.

[2018-03-15 15:23] #3 closed

[2018-03-15 16:33] floating commented on #2
@coinop-logan, I'm closing this for now but don't hesitate to report back if you have any other issues!

[2018-03-15 16:33] #2 closed

[2018-03-17 23:37] floating commented on #7
Hey @holiman, I took some time to add your signer to Frame, you can try it by running the demo on the `go-signer` branch. It's not complete and takes a little work to get running (you'll need to update the bin/4byte/signer.ipc paths) but I wanted to get a basic integration running.

[2018-03-19 12:45] ligi opened #11 "Cannot read property 'hide' of undefined"
I just updated to ubuntu 18.04 (also in the hope that the node version there is sufficient for running frame - context #3 ) - good news I seem to come a step further here - but I get the following error when running `npm demo run`

![selection_002](https://user-images.githubusercontent.com/111600/37596028-1a5c3cd0-2b7b-11e8-9442-a3e594fa85d4.png)

[2018-03-19 12:50] ligi commented on #11
here the debug-log:

[npm-debug.log](https://github.com/floating/frame/files/1824992/npm-debug.log)

[2018-03-19 13:22] ligi commented on #11
Just pulled again - seems to work now

[2018-03-19 13:22] #11 closed

[2018-03-19 13:56] ligi opened #12 "Icon not discoverable against black background"
![screenshot from 2018-03-19 14-52-21](https://user-images.githubusercontent.com/111600/37599719-b04691c8-2b85-11e8-9e9e-a3ebf2252222.png)
![screenshot from 2018-03-19 14-54-42](https://user-images.githubusercontent.com/111600/37599724-b249639c-2b85-11e8-9526-14f4d9fb69bc.png)

Also not sure if there should be text in the popup

[2018-03-23 03:29] ricburton opened #17 "Error on build"
Love where this is going! I got this error when following the download instructions:

[code]

[2018-03-23 04:53] floating commented on #17
Hey Richard, thanks!

What platform are you on? I can't quite tell what's going on from what you've posted so far. Are you able to provide the full output from the build process?

Thanks for taking the time to run the demo!

[2018-03-24 04:47] ricburton commented on #17
It built this time! Super weird. Perhaps it's due to my spotty internet / some packages not getting installed.

Realled excited to see this develop

[2018-03-25 06:02] #17 closed

[2018-06-20 21:20] floating commented on #12
These issues have been resolved, thanks for opening the issue @ligi! I encourage you to check out the [v0.0.5 (Alpha 2)](https://github.com/floating/frame/releases/tag/v0.0.5-alpha.2) release if you haven't already, there have been lots of updates since we last spoke! Thanks again!

[2018-06-20 21:20] #12 closed

[2018-06-22 12:29] luisivan opened #65 "Support Flatpak/Snap for Linux"
[Flatpak](https://flatpak.org/) seems to be the new standard for packaging Linux apps across distributions, with Snap competing for that too. It'd be great to have Frame packaged as a Flatpak or Snap app so we can install it no matter which distro we use.

[2018-06-22 19:01] floating commented on #65
👍I will plan to include a Flatpak or Snap version the next release.

[2018-07-29 12:35] ligi opened #73 "Electron not responding"
I just wanted to try the latest version of frame - but got this error:

![electron_103](https://user-images.githubusercontent.com/111600/43366322-7de64af6-933c-11e8-8b09-33df8557d6e9.png)

[code]

[2018-07-29 15:03] floating commented on #73
Hey Ligi!

I just tried to reproduce on Ubuntu 16.04 and 18.04 and was unable to hit the same issue. Can you try to reproduce using `npm run alpha` again and if you're still hitting this issue try running with `npm run dev` which will open dev tools for the renderer process and could give us some more info.

Thanks for taking the time to try Frame.

Jordan

[2018-07-29 15:08] ligi commented on #73
I am getting the same output with `npm run dev`

[code]

[2018-07-29 15:12] floating commented on #73
That output looks ok, the Trezor errors occurs when Trezor bridge isn't installed but shouldn't cause an issue. When running `npm run dev` an instance of Chrome dev tools should open for the renderer process.

[2018-07-29 16:17] floating commented on #73
Interesting, thanks for the video. It may be relate to this issue https://github.com/electron/electron/issues/12850. I will keep looking into it but still cannot reproduce on my end. That issue mentions that built versions still worked so I built an AppImage version of master https://frame.nyc3.digitaloceanspaces.com/Frame-0.0.5-alpha.3-x86_64.AppImage for you to try that might help narrow things

[2018-07-29 18:41] ligi commented on #73
where does the hot.json needs to be in case of using the AppImage?

[2018-07-29 22:57] floating commented on #73
Hey ligi!

Glad you got it working. The hot.json would need to be in the root directory at build time. You can either do this yourself and build your own apps from source with `npm run build` or for testing purposes I've built another AppImage of master with some default test accounts already included. https://frame.nyc3.digitaloceanspaces.com/Frame-0.0.5-alpha.3-x86_64-with-test-accts.AppImage

L

[2018-07-30 10:12] ligi commented on #73
I might have a data-point on this that could help getting closer to the root of the problem. When executing the appimage and frame is directly executed afterwards -> I get the same freeze. But when opening via the launcher -> it works.
Video here: https://youtu.be/WUzJfXuR8x0

[2018-07-30 10:13] ligi opened #74 "Support WalletConenct"
It would be great if frame could support [WalletConnect](https://walletconnect.org) as a signing method

[2018-08-01 11:33] floating commented on #74
:+1: I'll look into what it would take to add support.

[2018-08-07 12:10] floating opened #83 "Allow users to override the provided gas price and gas limit"
Currently gas price and gas limit are either provided by the dapp or autofilled by Frame

[2018-08-07 12:12] floating opened #84 "Increment derivation path"
Users should be able to increment the derivation path for signers to access other accounts

[2018-08-07 12:16] floating opened #85 "Allow users to admin geth or parity from settings menu"
Users should be able to toggle settings related to running their own local node when Frame is running

[2018-08-07 12:25] floating opened #86 "Create reusable components for UI elements"
UI elements that have been solidified throughout Frame should be made into reusable components

[2018-08-08 05:51] floating commented on #65
You can now find .snap packages here https://github.com/floating/frame/releases and I'm planning to add Frame to the snapcraft.io/store in the future. Let me know if there's anything else I can do to make Frame easier to use on Linux!

[2018-08-08 05:51] #65 closed

[2018-08-15 06:34] floating opened #96 "Setup code signing for Windows"

[2018-09-21 18:03] probonopd opened #102 "AppImage does not run on Ubuntu 14.04"
`Error: /usr/lib/x86_64-linux-gnu/libstdc++.so.6: version 'GLIBCXX_3.4.21' not found (required by /tmp/.org.chromium.Chromium.BhMyjN)`. Please build on Ubuntu 14.04, the oldest still-supported LTS release. Thanks.

References:
* https://github.com/AppImage/AppImageKit/wiki/Creating-AppImages#creating-appimages-that-are-compatible-with-many-systems
* https://github.com/AppImage/appimage.github.io/p

[2018-10-12 18:31] floating commented on #84
Added in v0.0.8 #106

[2018-10-12 18:31] #84 closed

[2018-11-03 18:00] luisivan opened #109 "Impossible to activate Frame from Gnome Shell"
In Gnome Shell (most used desktop environment on Linux) the systray has become obsoleted, and therefore there isn't any way to show Frame after its window is hidden. I think you need to just specify an app indicator instead of a systray icon for Linux.

Related issues:
- https://github.com/electron/electron/issues/10427
- https://github.com/electron/electron/issues/10619

[2018-11-05 03:32] floating commented on #109
Thanks Luis!
How are you installing Frame in this case?
Is this fixed for you by installing `libappindicator1`? (`sudo apt-get install libappindicator1`)

[2018-11-05 05:40] luisivan commented on #109
I'm using Frame without installing it, just running the AppImage locally. I also tried installing those libs with no luck, but other Electron apps (Keybase) load their indicators without trouble

[2018-11-05 11:10] luisivan commented on #109
I'm using Arch Linux, and I'm just running the AppImage without installing it. Maybe that could be an issue in how Gnome Shell handles AppImages?

[2018-11-05 15:48] floating commented on #109
So I don’t think it’s related to AppImages. I think it's just from the decision to “not to show status icons in GNOME Shell by default” starting with 3.26. https://blogs.gnome.org/aday/2017/08/31/status-icons-and-gnome

I tested against Debian 9 (Gnome 3.22.2) and Fedora 26 (Gnome 3.24.2) both worked out of the box with the AppImage.

I also have been testing with Ubuntu 18.04 (Gnome 3.28.2) which

[2018-11-06 07:51] luisivan commented on #109
I'm using Gnome 3.30, and I do have the status icons extension and its dependencies. It's weird. Still happens with Frame 0.9.

[2018-11-06 09:53] luisivan opened #111 "Doesn't work with PINs larger than 4 digits on Trezor"
As stated above, I had to change my Trezor PIN to 4 characters for it to work. Tried with 2 Trezors, same results.

[2018-11-06 18:03] floating commented on #111
Ah yes, a submit step needs be added to the Trezor One pin input. I will add that to the next release.

[2018-11-28 15:46] floating commented on #111
Resolved with #113

[2018-11-28 15:46] #111 closed

[2018-11-28 15:46] floating commented on #109
Resolved with #113

[2018-11-28 15:46] #109 closed

[2018-12-11 21:21] jvluso opened #117 "Keyring providers"
In order to integrate with Aragon DAOs, we should use keyrings based on https://github.com/MetaMask/KeyringController . The goal would be that a keyring for Aragon could work for both Frame and for MetaMask. I will be working on this in the coming weeks.

[2018-12-11 21:31] jvluso opened #118 "Error running from source on linux"
When I run from the master branch I get the following error
[code]
I do not get this error when running from an appimage. I have tried installing the dependencies for electron, but still get the same error. Are the downloads using an older commit?

[2018-12-11 22:34] floating commented on #118
Hey @jvluso!

This error occurs when running an unpackaged app in production (`npm run alpha`), the file it's looking for only exists once the app is packaged. You can avoid this by running in development env (`npm run dev`) but the error is harmless other than the update check failing. In the near future this will be updated to detect if the app is packaged before checking for new versions.

[2018-12-11 23:10] jvluso commented on #118
That worked, thank you

[2018-12-11 23:10] #118 closed

[2018-12-14 16:58] jvluso commented on #117
I've created a working version of this at https://github.com/jvluso/frame/blob/keyring/keyring.json . Signing non-transaction messages isn't working, but I also couldn't do it with a ledger - is this something I should work on or something that needs other fixes? I'd also like to add some testing for this. What do you currently use for testing?

[2019-01-24 03:15] lkngtn opened #122 "Should be able to view past transaction and view on etherscan"
It would be very helpful to be able to see past transactions and view the transaction status on etherscan.

[2019-01-29 11:36] PeterTheOne opened #124 "Derivation Paths different than Mycrypto and Metamask (Ledger)"
The addresses produced by the derivation paths are different than the ones created with Mycrypto (`m/44'/60'/0'/0` or `m/44'/60'/0'`) and Metamask (`m/44'/60'/0'/0`?). At least I was expecting the first address to be the same. Tried with both rinkeby and mainnet.

Ledger is on 1.5.5, frame is one 0.1.0 from the website.

[2019-01-29 15:21] floating commented on #124
Hey Peter!

For Ledger, Frame will use path `44'/60'/0'/0` on mainnet and `44'/1'/0'/0` on testnets.

On mainnet this will match MyCrypto or Metamask's "Legacy" option. The "Ledger Live" derivation path will be added as an option in the future.

[2019-01-29 16:28] PeterTheOne commented on #124
Hey Jordan, nice! So it currently it still uses a different path on purpose?

[2019-01-29 16:34] floating commented on #124
Yes, the thought being, deriving different accounts for mainnet and testnet limits the likelihood of accidentally interacting with an address in the wrong context.

[2019-01-30 14:40] floating commented on #124
Closing this, let me know if you have any other issues!

[2019-01-30 14:40] #124 closed

[2019-02-06 13:52] travs opened #125 "Hidden window captures clicks"
OS: Linux (arch)
WM: i3

When I hide the Frame window, it looks like it goes away, but I can't click anything underneath where the window was.
For example, with a browser open, the right side of the browser does not receive clicks until I exit Frame, but the left side of the browser works fine.

Not experienced with electron, but may be related to [this](https://github.com/electron/electron/issues

[2019-02-06 13:59] floating commented on #125
Strange. The windows should only capture clicks until the hide animation is finished and then remove itself entirely.

I will look into this, thanks for creating the issue!

[2019-02-06 15:33] ligi opened #126 "npm ERR! usb@1.5.0 install: `node-pre-gyp install --fallback-to-build`"
just wanted to try the latest version of frame in dev mode to be able to add a hot key. Unfortunately npm install fails:

[code]

the deb from the website works fine - just when trying from source i get this error. But this was working before - had frame running in dev mode - unfortunately not sure when it broke.

[2019-02-07 07:57] floating commented on #126
Hey ligi!

I believe this is due to the `node-usb` dependency. On Linux you'll need `libudev` to build `libusb`.

Ubuntu/Debian: `sudo apt-get install build-essential libudev-dev` then try a clean `npm install` of Frame.

[2019-02-09 16:21] ligi commented on #126
Thanks - yes this was exactly the problem

[2019-02-09 16:21] #126 closed

[2019-02-11 20:01] schmidsi opened #129 "Support eth_signTransaction"
When I try to sign a transaction, I get the following error:

`Error: Returned error: Method eth_signTransaction not supported.`

I assume that this error comes from ganache: The `eth_signTransaction` method gets forwarded to the underlying node because it is not marked as [`protectedMethods`](https://github.com/floating/frame/blob/master/main/api/http.js#L26).

We use this kind of special setup w

[2019-02-11 20:07] schmidsi commented on #129
For reference https://github.com/melonproject/protocol/blob/32659aa8e32f4c202d75b2255916ad9b70e35737/src/utils/solidity/transactionFactory.ts#L307

[2019-02-11 22:21] ligi opened #130 "Garbeled layout when in dev mode"
In release mode things look nice - but when in dev mode I end up with layouts like this:

![image](https://user-images.githubusercontent.com/111600/52597575-97798e80-2e53-11e9-92d4-aba5211565e5.png)

I think the problem is the developer tools that pop up in the beginning.

[2019-02-12 00:10] floating commented on #130
Hey @ligi, I believe this may be caused by unintended tab input focusing. You can try reproducing by hitting tab when Frame is focused. I have a fix (#131) you can try by using the  [`tabFocus`](https://github.com/floating/frame/tree/tabFocus) branch, but I still need to test cross platform.

[2019-02-12 00:20] ligi commented on #130
top - great tabFocus works great!

[2019-02-12 02:55] john-light opened #132 "Secondary network defaults to Infura after restarting"
I set my secondary network to a custom node endpoint, but after closing and restarting Frame, it is defaulting to Infura instead. I do not ever want to use Infura and want Frame to use my specified custom node by default instead. Related but possibly deserving of its own issue, if Infura is accidentally selected I do not want Frame to ping Infura unless I explicitly "save" the setting to select In

[2019-02-12 08:21] schmidsi commented on #129
Seems like MetaMask does not support this either: https://github.com/MetaMask/metamask-extension/issues/2506

And it is not part of this reference: https://github.com/ethereum/wiki/wiki/JSON-RPC#json-rpc-api-reference

[2019-02-12 13:01] floating commented on #132
Hey @john-light!

Intended behavior is definitely to persist your settings so I will look into why this isn't happening.

I understand your second point too and will work on a UX that doesn't cycle through the presets and instead explicitly selects them.

[2019-02-12 16:06] #130 closed

[2019-02-12 17:45] john-light commented on #132
Thanks @floating I have added my Frame and OS version to the original issue too if that helps with debugging.

[2019-02-12 19:57] john-light opened #133 "Update prompt shows up after each restart"
When I start Frame a blue box pops up asking if I want to update. I tell it "no". I close Frame a restart. The box is back. Perhaps the options could be changed to:

- Yes
- Not now, remind later
- No, do not ask again

or something like that? I know it's good practice to stay up to date but sometimes there's a reason for staying on a lower version and having to click the popup on each restart is

[2019-02-12 21:40] floating commented on #133
Yes, something like this makes sense to me.

[2019-02-12 22:15] floating commented on #73
I believe this is no longer an issue. If I'm incorrect please let me know!

[2019-02-12 22:15] #73 closed

[2019-02-13 00:05] floating commented on #125
@travs Working on a fix for this as part of some updates on the [`reveal`](https://github.com/floating/frame/tree/reveal) branch. If you can test running that branch and report back I'd be interested to know if it solves the issue.

[2019-02-13 15:13] schmidsi opened #136 "Support eth_signTypedData"
Similar to #129 , there is another JSON RPC command that needs to be intercepted: `eth_signTypedData` as described in: [EIP-712](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-712.md)

[2019-02-13 15:54] schmidsi commented on #136
![screen shot 2019-02-13 at 16 53 35](https://user-images.githubusercontent.com/103280/52724599-f3f1c080-2faf-11e9-9caa-45b878d84802.png)

I think this screenshot actually makes the point ;)

[2019-02-13 16:41] travs commented on #125
@floating It works! :+1:

[2019-02-13 17:09] floating opened #137 "Token support"
Add understanding and display helpful data for interacting with tokens

https://twitter.com/monicazng/status/1095653706849230850

[2019-02-13 17:20] #125 closed

[2019-02-13 17:26] floating opened #138 "Explicitly select connection presets"
Explicitly select connection presets instead of cycling as mentioned in #132

[2019-02-13 17:27] #132 closed

[2019-03-01 08:37] izqui opened #142 "Cache last used account"
At the moment if you change the account you are using to another derivation, then restart Frame, it goes back to the first derived account from the seed. It would be a great UX improvement if Frame remembered the account you were using when it was closed and automatically set it as the account when it gets launched again.

[2019-03-03 01:49] dekz opened #143 "eth_sign not implemented"
It appears that `eth_sign` is not implemented forcing users to use `personal_sign`. Is there any particular reason for this?  `personal_sign` doesn't actually have a [JSON-RPC definition](https://github.com/ethereum/wiki/wiki/JSON-RPC) or a relevant EIP.

[code]
[Found here]( https://github.com/floating/frame/blob/01344b95a665b11269b17c17de2ac7ec3023794a/main/provider/index.js#L222)

Other Web3 wa

[2019-03-03 16:32] floating commented on #143
Thanks @dekz, this makes sense and I agree. I will implement `eth_sign` in the next release.

[2019-03-07 14:52] IanLove opened #145 "ETH sent via Rinkeby network now lost/locked?"
I transferred 50 ETH to an account linked to the Rinkeby network on Frame.  It shows up on Etherscan 0x9fdbaC601798C2bbe7896B1f56eCCEE131aa84E5 but as I went via rinkeby instead of mainnet, it does not show up in my Ledger Nano S or on in the Frame interface.

I did verify the number in my Ledger Nano S before sending but did not understand the issue with networks.

Is it possible to add the above

[2019-03-07 14:58] floating commented on #145
Hello @IanLove! Frame uses a different derivation path (set of accounts) for testnets than it does for the mainnet. This was originally setup to help users limit the likelihood of accidentally interacting with a mainnet address without meaning to. I see it has done kind of the opposite here and I'm sorry for the confusion. Frame is showing you the account's balance on Rinkeby, not on the mainnet.

[2019-03-07 15:43] IanLove commented on #145
Many thanks i am working through this now and up to the 2340 nth account...i just keep going yes? How many account r there in your experience?---- On Thu, 07 Mar 2019 22:58:31 +0800  notifications@github.com<notifications@github.com> wrote ----Hello @IanLove! Frame uses a different derivation path (set of accounts) for testnets than it does for the mainnet. This was originally setup to help users

[2019-03-07 15:45] floating commented on #145
It should be the first account if the derivation path is set correctly.

[2019-03-07 15:47] IanLove commented on #145
Nope is there a way i can check that?---- On Thu, 07 Mar 2019 23:45:17 +0800  notifications@github.com<notifications@github.com> wrote ----It should be the first account if the derivation path is set correctly.  —You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-07 15:49] floating commented on #145
![image](https://user-images.githubusercontent.com/598504/53969261-7c064a00-40c6-11e9-87dc-a27040af61f0.png)

Does yours match this? Did you hit the check mark to update?

[2019-03-07 15:50] IanLove commented on #145
Yes and yes---- On Thu, 07 Mar 2019 23:49:06 +0800  notifications@github.com<notifications@github.com> wrote ---- Does yours match this? Did you hit the check mark to update?  —You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-07 15:53] floating commented on #145
Can you send me a screenshot of the first addresses you see? I'm also available in chat which may be easier to go back and forth.

[2019-03-07 15:55] IanLove commented on #145
Found it...i had not ticked the green box at start let me now see if i can transfer---- On Thu, 07 Mar 2019 23:54:00 +0800  notifications@github.com<notifications@github.com> wrote ----Can you send me a screenshot of the first addresses you see? I'm also available in chat which may be easier to go back and forth.  —You are receiving this because you were mentioned.Reply to this email directly, vie

[2019-03-07 16:00] IanLove commented on #145
thanks you so much for your help all resolved now, I have my funds...have a great day.

[2019-03-07 16:00] #145 closed

[2019-03-14 19:03] floating commented on #143
`eth_sign` implementation merged into master and will be in release `v0.1.2` soon

[2019-03-14 19:03] #143 closed

[2019-03-14 19:04] floating commented on #133
Additional update options have been merged into master and will be in release `v0.1.2` soon

[2019-03-14 19:04] #133 closed

[2019-03-14 19:04] floating commented on #122
Transaction monitor has been merged into master and will be in release `v0.1.2` soon

[2019-03-14 19:04] #122 closed

[2019-03-14 19:45] dekz commented on #143
thanks @floating!

[2019-03-29 23:00] jbrukh opened #151 "Multiple address support for Ledger wallets"
Would be really great to support multiple addresses (and derivation paths) for Ledgers. In MetaMask, you can switch out Ledger addresses one by one and it is infuriating. At the very least, we should be able to access other Ledger accounts in Frame.

[2019-03-29 23:01] jbrukh commented on #151
Just realized you already support them. Closing, thanks!

[2019-03-29 23:01] #151 closed

[2019-04-02 02:46] john-light opened #152 "Warn users when opening an external link"
On the recent transactions section, for example, there is a "view details" button that will automatically open a link to an Etherscan web page. There is no indication that this opens a web page to a third party service.

**Proposed solution**
Show a pop-up window that says something like:

"This will open a link to an external web page: https://etherscan.com/....... Continue / Cancel"

With the op

[2019-05-02 14:14] monkybrain opened #154 "Provide solution for 'Ledger Contract Data = No' error"
If the Ledger setting `Contract Data` is set to its default value `No`, you can't sign smart contract transactions (i.e. not use the device with dApps). At the moment, all the user sees is the error "Ledger Contract Data = No". It would be great if Frame provided the solution, perhaps a modal saying something like "Please go to Settings -> Contract Data and set the value to YES to allow signing of

[2019-05-11 23:52] john-light opened #156 "Show more than three pages worth of accounts"
On the accounts drop down, it appears that I can only scroll to page three, even though the accounts beyond that page are known to hold funds. I would like to be able to access these additional accounts using Frame.

[2019-05-31 16:44] lkngtn opened #159 "xdai support"
I believe this may already be possible using a custom endpoint, but it would be useful to have specific support so that the native asset/currency is correctly labeled as dai rather than eth.

[2019-06-01 16:00] floating commented on #159
I'd like to see this as well. I'll look into what it will take to get this into a release.

[2019-06-20 09:31] lkngtn commented on #83
I've been having a lot of issues where, due to fluctuations in the gas market, transactions have non-trivial differences in cost depending on the time I'm performing the transaction. It would be really really useful to see an estimate have the ability to modulate the gas price.

[2019-06-22 20:31] carumusan opened #168 "Support https://cloudflare-eth.com/ endpoint"
Currently when I enter "https://cloudflare-eth.com/" into "custom" endpoint it gets stuck on "loading".

[2019-06-22 20:41] carumusan opened #169 "Support Safari on macOS"
I use Safari as my main browser for privacy and other reasons. Would be useful if I didn't have to switch browser to use frame.

[2019-06-23 16:35] floating commented on #168
We will look into it! Thanks

[2019-07-04 09:08] MouyouMoos opened #173 "brave browser extention"
frame is not opening withing brave browser. I activated it maually and gabe all permissions but still it doesn't work

[2019-07-07 12:25] floating commented on #173
I haven't tested the extension in Brave. I will check this out, thanks!

[2019-07-19 14:20] schmidsi opened #180 "Fix tests"
I checked out branch 0.2 and ran:

[code]

First of all, linting failed which I fixed in #182. But the tests also fail (see log pasted further down). I'm not sure if it is directly connected to the NODE_MODULE_VERSION mismatch. We should probably add some code quality measurements:

- [ ] Pre-commit or pre-push hooks that run lint & tests locally
- [ ] Some CI-service that runs tests on every pull

[2019-07-19 14:30] schmidsi opened #181 "Use prettier?"
Instead of standard.js we could use prettier. It really helps to achieve a common code-style.

See: https://prettier.io/

[2019-07-19 15:20] schmidsi commented on #136
The 0x team implements this logic in their subprovider: https://github.com/0xProject/0x-monorepo/blob/master/packages/subproviders/src/subproviders/private_key_wallet.ts#L99

They intercept the call and serialize the typed data so it can be sent through `eth_signMessage` finally.

[2019-07-19 15:21] schmidsi commented on #136
Here is an example object:
[code]
From: https://github.com/ethereum/EIPs/blob/master/assets/eip-712/Example.js#L5

[2019-07-19 16:51] schmidsi commented on #136
A simple test of the functionality can be done with the following bash command:

[code]

[2019-07-19 22:03] floating commented on #180
Node module mismatch is due to the a post install script that builds deps for the current Electron version, which may not match your local Node version. You can run `npm rebuild` to target your Node version.

The `verifyAddress` error is known and do to a recent change that removed the callback from `verifyAddress`. You can comment out those tests until we add a callback to the `verifyAddress` imp

[2019-07-30 15:01] #7 closed

[2019-07-30 15:02] floating commented on #85
Added in `0.2`

[2019-07-30 15:02] #85 closed

[2019-07-30 15:05] floating commented on #102
As 14.04 has reached it's end of life we will not be providing support here

[2019-07-30 15:05] #102 closed

[2019-07-30 15:08] floating commented on #117
Closing because this functionality has been added in `0.2`

[2019-07-30 15:08] #117 closed

[2019-07-30 17:43] probonopd commented on #102
Yes, this is reasonable. Currently 16.04 is the oldest still-supported LTS release of Ubuntu. So that is the new baseline now.

[2019-08-01 16:56] floating commented on #169
We will look into supporting this, thanks!

[2019-08-01 22:28] floating commented on #168
This has been fixed in branch `0.2` and will be in the next release

[2019-08-01 22:28] #168 closed

[2019-08-02 03:00] floating commented on #142
This is in the `0.2` branch and will be included in the next release

[2019-08-02 03:00] #142 closed

[2019-08-02 03:00] floating commented on #156
This is currently in the `0.2` branch and will be included in the next release

[2019-08-02 03:00] #156 closed

[2019-08-06 14:49] floating commented on #138
This has been merged into the `0.2` branch and will be in the next release

[2019-08-06 14:49] #138 closed

[2019-08-06 15:04] floating commented on #86
This process has been started in `0.2` with the Dropdown component and will continue as needed

[2019-08-06 15:04] #86 closed

[2019-08-07 21:21] floating commented on #173
@MouyouMoos We tested this and everything is working on our end. Are you running the Frame app? The extension is only a lightweight proxy that injects a connection to the Frame app for dapps that don't connect to Frame natively.

[2019-08-08 18:46] matkam opened #194 "[Feature Request] Provide chain data without a connected signer"
It doesn't make sense to keep a hardware key plugged in all the time. Frame should remember the address of previously seen signers, and continue to provide chain data without needing a hardware wallet plugged in all the time. This way, dapps would always work, and you'd only need the signer when a transaction needs to be signed!

[2019-08-08 18:51] floating commented on #194
@matkam We agree! This functionality (we call persistent accounts) is ready in the `0.2` branch. This branch has been audited and we are just working to finish this version and get it out in an official release.

[2019-08-08 20:10] matkam commented on #194
Well don't mind me then. Thanks for the hard work!

[2019-08-08 20:10] #194 closed

[2019-08-10 03:08] floating commented on #173
@MouyouMoos I'm going to close this as things seem to be working on our side but please reopen if you're still having this issue and we will look into it for you.

[2019-08-10 03:08] #173 closed

[2019-08-10 09:20] MouyouMoos commented on #173
Ah i see that was the thing I don’t have the frame desktop app just the extension.

Am 07.08.2019 um 23:22 schrieb Jordan Muir <notifications@github.com<mailto:notifications@github.com>>:

@MouyouMoos<https://github.com/MouyouMoos> We tested this and everything is working on our end. Are you running the Frame app? The extension is only a lightweight proxy that injects a connection to the Frame app

[2019-08-13 00:36] floating commented on #154
Merged into `0.2`

[2019-08-13 00:36] #154 closed

[2019-08-13 00:37] floating commented on #152
This functionality is in `0.2` and will be officially released soon

[2019-08-13 00:37] #152 closed

[2019-08-13 09:58] schmidsi commented on #136
This is how it looks like in https://github.com/MetaMask/metamask-extension/:

<img width="472" alt="Screenshot 2019-08-13 at 11 49 17" src="https://user-images.githubusercontent.com/103280/62932979-84735700-bdc1-11e9-9062-5705abe6557d.png">

From here: https://app.kovan.radarrelay.com/ZRX/WETH

The rendered JSON is not interactable.

[2019-08-13 15:46] schmidsi opened #201 "Frame crashes when invalid JSON-RPC request is sent"
It seems like Frame crashes if an invalid JSON-RPC request is sent. Interestingly, it does not happen with all wierd requests.

# Reproduction

## Command line

Run Frame and then run the following command in the terminal:

[code]

Frame will crash with the following error:

<img width="488" alt="Screenshot 2019-08-13 at 17 27 40" src="https://user-images.githubusercontent.com/103280/62955202-f31b

[2019-08-13 15:55] floating commented on #201
Thanks for reporting Simon! Frame is designed to quit on any unknown exception as a safeguard rather than exist in some unknown and unplanned state. https://github.com/floating/frame/blob/master/main/index.js#L17-L25

I will also look into where this error is coming from.

[2019-08-13 16:08] floating commented on #201
I've determined this happens because this type of error does not correctly bubble up when returned from our connection in `eth-provider`. I will work on a patch to handle this today. I believe it should be ok to wait and include this in the `0.2` release.

Thanks again!

[2019-08-13 16:12] schmidsi commented on #201
Yes, this was also my direction of research. Thanks for the help! So I switch back my focus on the commands that should work.

Let me know when the fix is pushed so I can rebase.

[2019-08-13 17:00] schmidsi commented on #136
Real-world example of EIP-712: https://dicether.com/

[2019-08-13 19:03] floating commented on #201
Hey Simon! Upgrading to `eth-provider@0.2.5` which I just published should fix this issue.

[2019-08-14 08:39] schmidsi commented on #201
Upgrading to `eth-provider@0.2.5` did the trick. Thanks a lot.

[2019-08-14 08:39] #201 closed

[2019-08-15 12:47] schmidsi opened #204 "eth_sign does not work with checksummed addresses"
When I run:

[code]

I receive the following error:
<img width="360" alt="Screenshot 2019-08-15 at 14 39 34" src="https://user-images.githubusercontent.com/103280/63095128-c1c71880-bf6a-11e9-93c3-22636933d7a0.png">

But it works with:

[code]

[2019-08-15 13:02] yinzeus commented on #204
This seems a little hacky to me. If an address is checksummed, the application should handle it with the checksumming.

[2019-08-15 13:09] schmidsi commented on #204
Interesting point. So I should not make the address-check case-ignorant? How would you model the check: If one address is checksummed and the other is not, then `checksummed === notChecksummed // = false`?

I think the purpose of the checksum is to avoid copy/paste errors. Which happen mainly outside of the systems, when users write addresses down or read one via QR-code or similar. So internally

[2019-08-15 13:53] schmidsi commented on #136
It seems like eth_signTypedData is not available in Trezor nor Ledger at the moment.

It also doesn't work in MetaMask:
- https://github.com/MetaMask/metamask-extension/issues/5319
- https://github.com/MetaMask/metamask-extension/issues/5052

There is a WIP pull-request in the Trezor-firmware repo:
https://github.com/trezor/trezor-firmware/pull/148

And a stale issue in the Ledger repo:
https://gi

[2019-08-15 15:13] schmidsi commented on #137
I'll have a look at this one. The following features are coming into my mind:

- Better display of what is going on if a token interaction is triggered as a transaction from a Dapp. Example: "Do you want to send 100 DAI to 0xdeadbeef?"
- A list of token an account holds
- The possibility to interact with this list: Send 100 DAI from within Frame to someone
- ENS Support for the addresses

What abo

[2019-08-15 16:34] floating commented on #137
Thanks Simon, sounds good! I would prioritize:

- Display transfer of ERC-20 tokens instead of ETH is transaction view
- Display transfer of ERC-721 token instead of ETH is transaction view
- Support ENS for transactions and display in transaction view
- A list of token an account holds

The ability to send tokens will be organized within a separate initiative

[2019-08-17 14:30] yinzeus commented on #204
"This is not something to be taken lightly and soft errors in your RAM, the switch of a bit from a 0 to a 1, caused by occurrences like cosmic rays, do happen. Unbeknownst to you, the address stored in your clipboard would be different to the one you copied. Such unfortunate situations can easily be prevented with checksum." see [https://coincodex.com/article/2078/ethereum-address-checksum-explain

[2019-08-28 18:33] #204 closed

[2019-08-30 19:07] floating commented on #180
Tests for `verifyAddress` fixed in #212

[2019-09-02 00:38] jvluso opened #214 "Error when executing transaction using aragon provider"
[code]
This happened on the most recent build of the 0.2 branch when using the ens manager. The agent at 0x2c78b4204643b38a6484d2503a31014a9adeab87 is using the 4.0.0 version of the agent, and the dao is on the 0.7 build.

[2019-09-02 14:52] floating commented on #214
Hey @jvluso! Does running `aragon ipfs` locally solve this error for you?

@0xGabi @2color @sohkai Any ideas why this still might not be reliable?

[2019-09-02 14:54] floating commented on #180
@monkybrain's fixes for the client tests will also be in #212.

[2019-09-02 14:54] #180 closed

[2019-09-02 16:09] sohkai commented on #214
Hmm yes, we have been having a lot of issues with the agent app's CID not resolving very well.

@floating Is Frame using aragon's ipfs node by default or are you using another one (e.g. embedded IPFS node)?

[2019-09-02 17:39] 0xGabi commented on #214
As Brett mention this is probably cause the new agent version is not fully propagated across IPFS network. I would suggest using Aragon’s node. Otherwise if you are using a custom node please tell me and I can include the URL to the group we request with aragon ipfs propagate

[2019-09-02 20:26] floating commented on #214
@sohkai and @0xGabi Thanks for the help, we're using the wrapper's default ipfs node/settings

[2019-09-02 20:35] sohkai commented on #214
The thing is... `@aragon/wrapper` doesn't have a default IPFS node / settings; it requires the user of it to pass one in via `options.apm.ipfs.gateway`.

[2019-09-02 21:47] floating commented on #214
Thanks @sohkai! I assumed we were using a default after seeing our wrapper options did not contain any ipfs settings. I will look into when/why this was removed. In the meantime I will re-add Aragon's IPFS gateway as this is almost certainly what is causing this error.

[2019-09-02 22:03] floating commented on #214
@jvluso Thanks for reporting, the fix for this was merged in #215

Thanks for the help @sohkai @0xGabi! Sorry for including you as this issue was on our end. `No ABI specified` is identical to an error we used to see sporadically when we were first testing these accounts and I thought this was related to that.

[2019-09-02 22:03] #214 closed

[2019-09-06 00:30] john-light opened #226 "Show password requirements"
When I enter a seed, it asks for a password. I entered a password, it says too short. I entered another, it says too weak. Some guidance on the password requirements would be great!

For example:

Alternatively: I actually wouldn't mind if the password requirements were removed altogether. The way I think of this is, if an attacker gets to the point where they are exfiltrating data or entering cha

[2019-09-09 10:39] john-light opened #228 "Transaction withdrawal using Aragon Finance app shows signing error"
I'm not sure if this is an Aragon issue or a Frame issue, but I'm creating the issue here because it only happens when I use the Frame 0.2-rc. When I sign my transaction, this error shows:

[2019-09-09 13:22] floating commented on #228
Hey @john-light! Yes, I believe this is on our end. I will look into it and get a fix out shortly.

[2019-09-09 22:01] izqui commented on #228
We have fixed it on our end already: https://github.com/aragon/aragon/pull/984

[2019-09-09 22:06] izqui opened #229 "Support multi-hop Agent actions"
Currently when adding a smart account, Frame allows you to select another smart account as the acting account for that Agent:

<img width="337" alt=" 2019-09-09 at 11 04 26 PM" src="https://user-images.githubusercontent.com/447328/64569725-374dbb00-d356-11e9-86e8-99a6f86ece63.png">

However when attempting to do a multi-hop Agent action (an Agent being a token holder in another DAO that has an Age

[2019-09-10 13:43] john-light opened #230 "Error: Unable to read from a closed HID device"
Tried signing a transaction in 0.2.0-rc with a Ledger and got this error:

![frameerror](https://user-images.githubusercontent.com/9424721/64619009-475aae80-d3d9-11e9-8de9-074226e6d5b1.png)

[2019-09-10 13:50] floating commented on #230
Hey @john-light, thanks! Any chance you're able to reliably reproduce this? I saw this once but haven't been able to reproduce.

[2019-09-10 13:53] floating commented on #229
Thanks @izqui! Yes, agent accounts shouldn't be showing up as an option. I will update to make  sure that's the case until we're able to revisit hopping.

[2019-09-10 13:55] floating commented on #228
@izqui Awesome! We will be pushing an update to handle this better on our end as well.

[2019-09-10 16:18] floating commented on #229
@izqui Fixed in #231 to be merged and released shortly. Existing Aragon smart accounts will need to be recreated to be correctly filtered out. The issues was due to current Aragon accounts being created with incorrect casing of the `aragon` account type.

[2019-09-10 16:18] #229 closed

[2019-09-10 16:22] floating commented on #226
@john-light We've added some initial guidelines re: password requirements in #231 to be merged shortly in `0.2`. In future versions of Frame we will continue working to provide more helpful guidelines/feedback and find the right balance regarding passwords requirements.

[2019-09-10 16:22] #226 closed

[2019-09-10 16:23] floating commented on #228
Our update for is included in #231 and will be released shortly.

[2019-09-10 16:23] #228 closed

[2019-09-10 16:40] john-light commented on #230
Using Ledger Nano S. It is not reliably reproducible. Closing for now.

[2019-09-10 16:40] #230 closed

[2019-09-10 16:42] floating commented on #230
@john-light Good to know it's a Nano S issue as well. I will definitely be looking into this deeper once `0.2` is out. Thanks for testing!

[2019-09-10 16:54] john-light opened #232 "Inconsistently broadcasting txs"
I have tried to make a few different transactions, and have only had one successfully broadcast and confirmed in the last 1.5 hours. My most recent attempts at sending a transaction are not being broadcast. When I check my address on Etherscan, I do not see my transaction in the recent history, pending or otherwise. I have tried changing the node Frame is connected to from my own node to Infura an

[2019-09-10 17:04] john-light commented on #232
@floating hovering on the check mark, waiting for confirmation

[2019-09-10 17:05] floating commented on #232
@john-light Ok, I will test on my end. Thanks

[2019-09-10 17:13] john-light opened #234 "Inconsistently recognizing confirmations"
I just tried to deposit DAI in my Aragon organization on Ethereum mainnet.

The first approve transaction was confirmed and showed up as such in Frame, but then it seems the application "froze". Although the animation wheel along the progress bar is still spinning, no additional confirmations are showing for the first approval transaction, and no confirmations at all are showing up for the second

[2019-09-10 17:50] floating commented on #234
@john-light Currently the `txMonitor` is somewhat ephemeral and non-resilient. If it runs into an error either subscribing to `newHeads` or getting the `transactionReceipt` it will basically stop monitoring that transaction. Recent transactions are also cleared when you close your account which is not ideal.

We have some awesome plans for the `txMonitor` coming soon that will solve these issues a

[2019-09-10 23:37] onbjerg opened #236 "Doesn't recognise any organisations as a smart account"
I downloaded the release from aragon.org/agent and did the following:

- Added my Ledger
- In the first step of the smart account I've tried entering
  - oliver
  - oliver.aragonid.eth
  - camino
  - camino.aragonid.eth
- Both orgs have the Agent app installed, but in both instances Frame says "Provided daoaddress is not a DAO" (an error from aragonAPI)
- Boths orgs are on mainnet and I've confirm

[2019-09-11 10:51] mikearagon2019 opened #238 "Hello"
Guys, is there a reason why DAO name on aragonid.eth can not be resolved?
![photo_2019-09-11_13-50-46](https://user-images.githubusercontent.com/55188981/64691366-2fe3fa00-d49b-11e9-8fb0-f21f432f9575.jpg)

[2019-09-11 13:02] leomorozovskii commented on #236
Same issue on Mainnet

[2019-09-11 15:34] #236 closed

[2019-09-11 15:40] floating commented on #236
Thanks for reporting! I've confirmed this issue exists in the `0.2-rc` a fix will be available in the stable release shortly.

[2019-09-11 15:40] floating commented on #238
Thanks for reporting! I've confirmed this issue exists in the `0.2-rc` a fix will be available in the stable release shortly.

[2019-09-11 15:40] #238 closed

[2019-09-11 15:42] mikearagon2019 commented on #238
thank you

[2019-09-11 16:29] floating commented on #238
The stable release with this fix can be found here: https://github.com/floating/frame/releases/tag/v0.2.1

[2019-09-11 16:29] floating commented on #236
The stable release with this fix can be found here: https://github.com/floating/frame/releases/tag/v0.2.1

[2019-09-11 16:59] floating commented on #232
@john-light Are you still experiencing this issue? I have been doing a lot of testing over the past day and have not been affected by this.

[2019-09-11 17:06] leomorozovskii commented on #236
That's great. Managed to connect the Agent. But can not run scripts on Dapps like Compound on behalf of the DAO. Was it supposed to be fixed in this Release

[2019-09-11 17:14] floating commented on #236
@leomorozovskii Can you report what error you’re seeing?

[2019-09-11 17:22] leomorozovskii commented on #236
![photo_2019-09-11_20-02-55](https://user-images.githubusercontent.com/52324631/64719800-b1ef1580-d4d1-11e9-8b71-b9e819c5f900.jpg)
Clicking on a button, but no transaction initiated. When i am doing that with seed account it works

[2019-09-11 17:27] leomorozovskii commented on #236
Suspecting and issue with browser extension

[2019-09-11 17:27] floating commented on #236
@leomorozovskii I'm looking into it

[2019-09-11 17:38] floating commented on #236
@leomorozovskii What platform are you on?

[2019-09-11 17:58] john-light commented on #232
@floating I am, experiencing it right now in fact. Using 0.2.1 with hot wallet on rinkeby, have tried custom node and infura. No dice either way.

![frame-issue](https://user-images.githubusercontent.com/9424721/64722310-1f954480-d4c6-11e9-85bd-2f96a16eca74.png)

[2019-09-11 19:34] john-light opened #242 "Frame + Aragon Agent not detecting enable tx"
I have Frame + Agent selected as my account. When I go to compound.finance, I am prompted to "enable my account". However, when I click the button, nothing happens in Frame. I should receive a prompt to approve the enable request, but I don't.

Note that rinkeby compound.finance does work with my normal account, just not with Agent.

Frame version: 0.2.1
Network: Rinkeby
OS: Linux
Signer: Hot wall

[2019-09-11 19:37] floating commented on #242
I am working on this issue as we speak :) sorry for the rough edges, I will have an update shortly.

[2019-09-12 00:04] floating commented on #242
This issue should be fixed in `v0.2.2` https://github.com/floating/frame/releases/tag/v0.2.2

[2019-09-12 00:04] #242 closed

[2019-09-12 00:20] floating commented on #232
Thanks @john-light! Frame does not currently try to rebroadcast transactions. We will add more resilient broadcasting to the next version.

[2019-09-12 12:28] john-light opened #244 "Insufficient funds error"
I am trying to use Frame 0.2.2 + Aragon Agent to use compound.finance on Rinkeby. I have selected org `reputationagent.aragonid.eth` with acting hot wallet address `0xd977dA63d086d222EDE0aa68ee84328310485FFE`. The "enable" transaction is now showing up, however when I try to sign it, Frame gives me an error: `Insufficient funds`.

[2019-09-13 15:47] floating commented on #244
@john-light I will take another look at this

[2019-09-16 08:45] izqui opened #247 "Support Agent's safe execute"
Since 0.8, Agent can be upgraded to a new version that introduces the [`safeExecute` function](https://github.com/aragon/aragon-apps/blob/master/apps/agent/contracts/Agent.sol#L94). Safe execute behaves like execute, but it ensures that no assets can be transferred in the execution (ETH transfers are not allowed and a list of tokens is checked to ensure that the balance stays the same).

In most c

[2019-09-16 11:54] john-light commented on #244
Adding some more info: I ran from source, tried to make a deposit in a test Aragon org from Agent, got this error in the terminal:

[code]

[2019-09-16 17:16] floating commented on #244
@john-light Is this only happening with smart account transactions?

[2019-09-16 19:21] john-light commented on #244
@floating that is correct, only when I'm using Aragon Agent.

[2019-09-16 20:08] floating commented on #244
@john-light I haven't been able to reproduce but I did compare transactions and noticed agent transactions always included `value: '0x'` while non-agent transactions do not. I've updated the `insufficient` branch to filter out zero values. When you have time, try using the `insufficient` branch to see if it has any impact on the issues you're seeing.

[2019-09-17 12:28] john-light commented on #244
@floating I tried installing the `insufficient` branch and still got this error:

[code]

[2019-09-17 20:02] floating commented on #244
Thanks to @john-light's help we were able to uncover this was caused by using the smart account index rather than the selected actor's index. A fix is in master and will be included in an official release as soon as possible.

[2019-09-17 20:02] #244 closed

[2019-09-18 05:10] mikearagon2019 opened #250 "We are planning to use Frame with Aragon DAO"
We are planning to use Frame with Aragon DAOs that may have multiple Agents. Now Aragon Smart Account only retrieves the first. May you tell us where the code responsible for Agent address inspection is located, we try to patch it.

In case of success, we can contribute this patch to Frame project.

[2019-09-18 05:26] floating commented on #250
Sounds cool! This is where we resolve the Aragon name/domain to an object that contains an apps summary returned as key `apps`.

https://github.com/floating/frame/blob/master/main/accounts/aragon/index.js#L31-L64

From there we use `apps.agent` to setup the smart account. I think the first step would be to resolve multiple agents in that summary and then we could trigger some UI that allows you to

[2019-09-18 08:32] john-light opened #251 "Save password for re-use"
When using Agent with Frame there is a fair bit of back-and-forth necessary to approve transactions: create the transaction in Agent, switch to hot account and vote in the Aragon org, switch back to Agent to do the next task, switch back to hot account and vote again in the Aragon org, etc. Each time this back and forth happens, Frame requires to enter the password to unlock the account. It should

[2019-09-18 15:35] floating commented on #251
Yes, I think something like this makes sense. I also think we may be able to detect when you're interacting with the DAO that matches your smart account and enable some UX to activate your actor for that dapp from within the smart account.

[2019-09-25 20:51] john-light opened #253 "Silent failure when calculateTransactionPath fails to find a path"
I am using Agent to try and interact with Compound. I specifically chose to use an acting account that _did not_ have a voting token in the organization connected to the Agent app.

I click "Enable borrowing" on the Compound app and nothing happens. A silent failure.

I open Frame in the terminal and this error shows:

[code]

[2019-09-25 20:58] floating commented on #253
Hey @john-light! I believe this error occurs when `calculateTransactionPath` fails to find a path. This error should be returned to the dapp, although it's **very** uninformative. We will make this error much more informative and also display this error in Frame rather than relying that the dapp to communicate.

[2019-09-25 21:48] john-light commented on #253
@floating  in this case the error happened because the acting address I chose did not have any voting tokens in the organization connected to the Agent app I was trying to use. Perhaps instead of saying "successful" when I select such an address, Frame could inform me of this error ahead of time and make me select an address that does have voting tokens in the Agent's organization (even better, Fr

[2019-09-25 21:52] floating commented on #253
@john-light Great suggestions, we'll definitely implement something like this to improve the Aragon smart account setup UX.

[2019-09-26 18:21] auryn-macmillan opened #255 "Create a purser module for Frame"
Colony, along with some other applications, use [Purser](https://github.com/JoinColony/purser) to abstract the web3.js libraries. One side effect of this is that they need to explicitly enable different wallets by building purser modules for them.

A frame module would allow anyone using frame to authenticate with purser.

There is one particularly interesting use case for this. With a Frame [modu

[2019-09-27 21:45] floating commented on #255
This sounds cool, Frame’s interface follows EIP-1193. Perhaps an EIP-1193 purser module could be created using https://github.com/floating/eth-provider and work for any signers that follow the spec?

[2019-09-28 03:04] auryn-macmillan commented on #255
Yeah, that would be really cool!

[2019-10-07 18:37] jvluso opened #258 "ui is not appearing on ubuntu"
As of one of the recent patches I can't open the ui on ubuntu. I can still see the logs of frame running in the terminal, and I can attempt to show and hide it, but it does not appear when I show it.

[2019-10-07 19:08] floating commented on #258
Hey @jvluso!

Sorry to hear you're having trouble. We just tested on both Ubuntu 16.04 and 18.04 and were not able reproduce the issue you're describing. What version/environment are you running? Could you also include the terminal output from startup? Do you run into the same issue with prebuilt versions? https://github.com/floating/frame/releases

[2019-10-07 19:22] jvluso commented on #258
[code]

The appimage is working for me.

[2019-10-07 21:07] jvluso commented on #258
Running `npm bundle` appears to have solved this, though it might have been something else I did. either way, closed

[2019-10-07 21:07] #258 closed

[2019-10-14 15:27] fubhy opened #276 "Offer events for network and account changes."
Hey there. Thanks for working on frame, we love it.

I saw that there were some rudimentary attempts at adding events for network and account changes. These are currently commented out and not part of release currently as far as i can tell. Do you have any plans for adding those properly? Currently, I am polling the network and accounts to achieve this (with some latency of course).

[2019-10-15 14:03] stephen101 opened #277 "Can't launch Frame on OSX Catalina"
When trying to Launch frame on OS X Catalina I get the following error ""Frame" can't be opened because Apple cannot check it for malicious software. This software needs to be updated. Contact the developer for more information"

[2019-10-15 19:28] floating commented on #277
Thanks for reporting, we'll get a fix for this out as soon as we can!

[2019-10-15 19:32] floating commented on #276
Hey @fubhy! We'll be sure to included this in `v0.3`

[2019-10-17 23:35] ajsantander opened #278 "Unusable in a tiling window manager"
Yep, I'm probably < 1% of the targeted users, sorry. The whole "slide in from the side" mechanism doesn't work with my setup of archlinux + awesomewm.

When I launch the app, the panel opens on the right side of my screen, but as soon as I move my mouse towards it, the panel hides with no way to recover it.

What I ended up doing is disabling the sliding mechanism in the code (can't really remembe

[2019-10-18 17:55] DaniellMesquita opened #279 "Option for disabling animation"

[2019-10-18 17:56] DaniellMesquita opened #280 "Simple mode, without need for dragging and animations"

[2019-10-18 17:57] DaniellMesquita opened #281 "Support KeepKey hardware wallet"

[2019-10-18 17:57] DaniellMesquita opened #282 "Support Status' KeyCard hardware wallet"

[2019-10-18 18:09] floating commented on #278
Hey @ajsantander!

Sorry to hear that you're having issues using Frame with your window manager. We don't want to disable the sliding mechanism by default but we do want to make Frame work with your setup. I'd like to figure out if we can update the initial open of Frame on your setup so that you would be able to interact with Frame before it hides itself and pin it in place with an option we'll a

[2019-10-18 18:11] floating commented on #279
I'm not sure what this means without a description

[2019-10-18 18:11] #279 closed

[2019-10-18 18:12] floating commented on #280
I'm not sure what this means without a description

[2019-10-18 18:12] #280 closed

[2019-10-18 18:39] bowensanders opened #283 "Frame Signature Check Fails"
When attempting to use a dapp requiring a signature - using a ring account successfully signs the transaction, but when attempting to use an aragon DAO agent account, it fails:

<img width="1667" alt="Screen Shot 2019-10-18 at 11 32 59 AM" src="https://user-images.githubusercontent.com/27023908/67119298-ba570200-f19b-11e9-895e-1e5ea9d0c407.png">
<img width="398" alt="Screen Shot 2019-10-18 at 11 3

[2019-10-18 18:44] jvluso commented on #283
Should be in the next release #259

[2019-10-18 22:55] DaniellMesquita commented on #279
Frame is pretty slow because of particles animation.
It should have a option for disabling animations; this should be part of a Simple Mode: https://github.com/floating/frame/issues/280

[2019-10-18 23:01] DaniellMesquita commented on #280
As explained in https://github.com/floating/frame/issues/279, animations makes the whole app slow and gives bad UX. Also, dragging a account to open it isn't suitable for desktop users, while Frame doesn't haves a Cordova version for mobile.

[2019-10-18 23:05] DaniellMesquita commented on #280
What I proposse in this issue is a opt-out simple mode, which detects a slow hardware and, if it is a fast one, the app shows animations. Also, use dragging and other gestures only when Frame receives Cordova scripts/modules.

[2019-10-18 23:10] DaniellMesquita commented on #281
https://shapeshift.io/keepkey/

[2019-10-18 23:11] DaniellMesquita commented on #282
https://keycard.status.im/

[2019-10-18 23:11] floating commented on #280
You don't drag accounts to open them so I'm a bit lost here. Frame also has no plans to use Cordova.

[2019-10-18 23:13] floating commented on #281
We'll look into adding support

[2019-10-18 23:18] DaniellMesquita commented on #280
I'd clicked in a hot wallet account and it didn't opened, then I swiped up it and opened.

[2019-10-18 23:27] floating commented on #280
Just click the top center button to open and close accounts.

[2019-10-18 23:45] DaniellMesquita commented on #280
It isn't intuitive. Or click in the whole card or a button to open the account.

[2019-10-18 23:50] floating commented on #280
Ok, we'll look into options to make it even more clear. We haven't had any issues with it, the arrows are usually enough of an indicator.

[2019-10-21 09:17] bowensanders commented on #283
Is there an ETA for the next release?

[2019-10-23 20:14] ajsantander commented on #278
Thx for the reply. I think that the easiest way is to show you. Will try to reach out via PM.

[2019-10-25 14:29] ligi opened #286 "Frame crashes with FOAM"
[code]

[2019-10-25 14:31] ligi commented on #282
indirectly it could be made work via #74

[2019-10-25 15:53] floating commented on #286
Hey @ligi! What steps can I take to reproduce? This seems to be Frame trying to clear permissions for an address that doesn't exist, which shouldn't be able to happen.

[2019-10-25 16:05] ligi commented on #286
just tried to reproduce it - unfortunately I could not. I just know it happened on commit 7b09a37b0b51851e53e709a029a07aa3e59ff201
and I started with
npm run dev
I use it with only a hot wallet

[2019-10-25 16:14] floating commented on #286
Thanks for testing. It could have been a bug with a state transition running form source. We only handle/test migrating state schema changes between released versions so it's possible your state was in a bad place from running a previous, transitory version of Frame.

One quick solution to it would be resetting all settings and permissions. You can do this by going into the settings (>>>), mousing

[2019-10-25 16:16] #286 closed

[2019-10-25 16:20] floating commented on #283
@bowensanders Sorry, I don't have an exact ETA for this right now. It will definitely be in `0.3`, possibly before that. I will try to get it out as soon as possible.

[2019-10-25 19:54] lkngtn commented on #255
+1 I would love to be able to use Agent/Frame with the Colony Dapp!

[2019-10-25 20:02] lkngtn opened #287 "Cannot connect to Etherscan using browser extension"
Etherscan allows users to interact directly with verified contracts, which can be quite handy. However, when trying to connect to web3 I'm able to do so with metamask, but not with the frame extension (I tried on both firefox and chrome).

[2019-10-28 20:45] bowensanders commented on #283
Thanks for the response!
Today I've now compiled and installed the smartSign branch and am running (0.3.0) and the frame side no longer produces an error (it shows as a success in the frame app) - but it seems that the response isn't returning the same way as another web3 provider would. Console error returned is:
<img width="562" alt="Screen Shot 2019-10-28 at 1 32 16 PM" src="https://user-images

[2019-10-28 21:02] floating commented on #287
Thanks for reporting @lkngtn I will look into this!

[2019-10-29 14:05] john-light opened #290 "Show derivation paths in the app"
Currently in the Settings the derivation path just says "Live" or "Legacy" when a Ledger is plugged in. It'd be nice to see the actual numerical derivation path here, for troubleshooting purposes.

[2019-10-29 23:28] floating commented on #283
Hey @bowensanders!

Yes, the signed messages is prefixed for use with Aragon's [`isValidSignature`](https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1271.md). Since the DAO itself cannot sign the message, the message is signed by the actor address (EOA) and then needs to be verified as valid. This will not work with most dapps (yet)

[2019-10-31 05:49] floating commented on #290
👍

[2019-10-31 13:49] ligi commented on #74
perhaps this can help?: https://github.com/gnosis/GECO/blob/master/WalletConnect%20Microgrant/Info.md

[2019-11-01 14:37] xuhcc commented on #83
Gas price suggested by Frame sometimes is unreasonably high. I managed to work around this problem by copying transaction data from `~/.config/frame/config.json` and sending it from another wallet :)

[2019-11-07 21:48] ccashwell commented on #277
@floating any updates on MacOS compatibility?

[2019-11-08 23:16] john-light opened #291 "Bump tx fee"
Sometimes after you send a tx you realize that the fee should be higher so it can confirm faster. It would be nice if Frame had a "bump fee" button that could re-try sending a tx with the same nonce but a higher fee so there's a chance it could confirm faster.

Related / dependent issue: https://github.com/floating/frame/issues/83

[2019-11-10 16:44] xuhcc opened #292 "Adding Aragon account by address"
Is it possible to add Aragon account to Frame by providing address of the DAO instead of its name? When I'm trying to do so, Frame says `Unable to resolve DAO <address> on current network`.

Network: Rinkeby
Frame: v0.2.4

[2019-11-13 17:55] tcoulter opened #296 "Frame pegs my CPU"
Frame has high CPU usage on a default install. Without connecting any wallet, after starting frame, it's using 43 to 50% of my CPU. See image.

In my experience with Electron apps (namely Ganache), this is likely due to the animation on the main screen (e.g., the dots swirling around). On my machine, a tablet device, it causes the fan to turn on unnecessarily.

I'm running the latest Windows 10 on

[2019-11-13 20:08] floating commented on #296
Thanks @tcoulter, we'll look into this and any animations we use.

[2019-11-13 22:29] floating commented on #292
Currently Frame only accepts its name. Thanks for reporting, we'll add the ability to use address too.

[2019-11-16 05:13] antoncoding opened #297 "Support CoolWalletS hardware wallet"
It would be cool if frame can support signing with [CoolWalletS](https://www.coolwallet.io/).

We just release our [JS sdk](https://github.com/CoolBitX-Technology/coolwallet-js-sdk), and we would be happy to implement the integration if you guys think this is a good idea :)

[2019-11-18 18:04] john-light opened #298 "Unable to resolve Agent on current network"
I am trying to add an Agent account I just created on mainnet. The org creation tx has 50+ confs but it's still not showing up in Frame. I get this error:

For organization https://mainnet.aragon.org/#/mcdtest.aragonid.eth

[2019-11-18 18:51] floating commented on #298
Hey John! Are you still seeing this issue? I just tried to resolve the name on my end and it worked, not sure why it wouldn't be the same on your end.

[2019-11-19 00:35] john-light commented on #298
Works for me now, not sure why it wasn't earlier. Tried restarting, building from source, etc, no dice. All good now.

[2019-11-19 00:35] #298 closed

[2019-12-05 22:39] blurpesec opened #307 "Frame Inpage Provider Name"
Running into an issue with the inpage provider name when trying to integrate Frame into [beta.mycrypto.com](https://github.com/mycryptohq/mycrypto). In firefox browser is showing the inpage provider name as an empty string:`""`, whereas in Chrome/Brave it's showing as `"a"`. Should we expect empty string as the inpage provider name in Firefox?

Firefox:
![image](https://user-images.githubuserconte

[2019-12-06 18:58] floating commented on #307
Hey @blurpesec!

You're right, the `constructor.name` should be `EthereumProvider`. This issue was caused by our current build process minification, sorry about that. We will push a fix for this soon.

[2019-12-06 19:09] blurpesec commented on #307
Hey @floating, usually, web3 providers would create a new provider name that isn't in use by other providers so that dapps / interfaces can tell the difference. `EthereumProvider` is already in use by the old Mist dapp browser.

As an example some other `constructor.name`'s in use are:
- `MetamaskInpageProvider` - Metamask
- `TrustWeb3Provider` - Trust Wallet
- `InpageBridge` - Metamask Mobile
- `

[2019-12-06 19:23] floating commented on #307
Ok, the `EthereumProvider` class name was a requirement of EIP-1193 at one point but it seems that was removed. We will change it to `FrameProvider`.

[2019-12-06 20:23] john-light opened #308 "Frame failing to connect to Uniswap"
See this comment for details, they are suggesting it's a Frame problem, not a Uniswap problem:

https://github.com/Uniswap/uniswap-frontend/issues/414#issuecomment-562630164

![uniswapframe](https://user-images.githubusercontent.com/9424721/70354135-e4907c00-183c-11ea-91f5-75d4c9069b09.png)

[2019-12-06 21:50] floating commented on #308
Hey @john-light,

See https://github.com/Uniswap/uniswap-frontend/issues/414#issuecomment-562737183

I've submitted an updated Frame extension (v0.2.0) for both Chrome and Firefox.

The Firefox version is already up. The Chrome version was tagged for manual review, not sure why or how long that takes but it will hopefully be available soon.

[2019-12-06 22:07] floating commented on #307
I've submitted an updated Frame extension (v0.2.0) for both Chrome and Firefox with `constructor.name` resolving to `FrameProvider`.

The Firefox version is already up. The Chrome version was tagged for manual review, not sure why or how long that takes but it will hopefully be available soon.

Thanks for reporting @blurpesec! Looking forward to trying beta.mycrypto.com!

[2019-12-06 22:27] NoahZinsmeister commented on #308
thanks for this quick fix @floating ! i can confirm that v0.2.0 fixes the issue for me.

i'm still getting "No Frame account selected" errors when trying to connect if my account is not unlocked, rather than frame popping opening to prompt an unlock, but that seems like a somewhat solvable issue with the proper UI indications.

[2019-12-07 01:07] floating commented on #308
Awesome, glad to hear it's working for you! We'll work on a fix for "No Frame account selected" and release it with official `requestAccounts` support.

[2019-12-07 15:37] john-light commented on #308
Can confirm this is working for me in Firefox now as well! Closing this issue.

[2019-12-07 15:37] #308 closed

[2019-12-10 15:51] floating commented on #307
Both extensions have been officially update now, closing.

Thanks again!

[2019-12-10 15:51] #307 closed

[2019-12-14 18:20] sohkai commented on #83
I cannot emphasize my need for this feature enough; almost every transaction I try to send through Frame I need to re-do using mycrypto because of the non-adjustable gas price. This costs me hours D:

[2019-12-14 21:28] floating commented on #83
Hey Brett,

Sorry for the inconvenience! The delay on this feature is my fault. When it didn't make the cut on our last major release I decided to push it into our next major release, so it's on that timeline. Our major release is nearing completion and we should have it out in the next few weeks but I will also take a look at how difficult it would be to cherry pick and release in a new `0.2` ver

[2019-12-15 13:50] sohkai commented on #83
Thanks! For now it may even make sense to just have a bit of a gas floor (e.g. 3-5gwei), as the gas market can fluctuate a lot right now between 1-3gwei. Sending a 1.9gwei transaction usually means transactions take forever to mine if the market bumps even slightly to 2gwei.

[2019-12-15 21:35] floating commented on #83
Yeah we could add that although as commented above, some users are also sensitive to the currently filled gas being "unreasonably high". This is our current minimum gas enforcement https://github.com/floating/frame/blob/master/main/provider/index.js#L243-L244, it's a 20% boost over what is returned from `eth_gasPrice`. If you run Frame from source you can edit this to enforce your own minimum.

An

[2019-12-15 22:22] john-light commented on #137
Want to add a +1 to this. I recently sent DAI from the MyCrypto beta interface (because their main interface [stopped working with Frame](https://github.com/MyCryptoHQ/MyCrypto/issues/2848) :upside_down_face:) and was flying totally blind:
- MyCrypto had no visual confirmation of what was happening
- Frame only showed _part of_ the fee paid (the last 4 digits were cut off) and the contract address

[2019-12-16 13:05] fubhy opened #313 "Polling block number and transactions"
Frame polls for the current block repeatedly but doesn't seem to take the latest transaction into account, hence, there is a short time span after a transaction where, if it falls right between block number polling, the block number returned from `eth_getBlockByNumber` is lower than that of the transaction receipt. This breaks our user interface when trying to do re-fetches after a successful tran

[2019-12-16 13:14] fubhy commented on #313
Nevermind. The polling was happening elsewhere.

[2019-12-16 13:14] #313 closed

[2019-12-16 17:38] john-light opened #314 "Ledger does not work with Frame while geth is running"
I am testing an instance of geth running locally on a Linux Mint 19.2 box. When I plug in a Ledger and open Frame, it seems Frame isn't recognizing the Ledger even though the geth node does.

![ledgererror](https://user-images.githubusercontent.com/9424721/70929321-e0185000-2000-11ea-987b-1f03db612998.png)

[2019-12-16 17:47] floating commented on #314
If you don't need your Ledger to talk directly with geth, try running geth with the `--nousb` option

[2019-12-17 05:22] john-light commented on #314
@floating that did the trick! will close this for now

[2019-12-17 05:22] #314 closed

[2019-12-24 06:35] Legionof7 opened #317 "Frame Not Detecting Acting Agent for Aragon DAOs"
I'm running Frame on Windows and trying to connect it to my DAO.

The ENS address is matrix.aragonid.eth.

When I enter the address into Frame, the acting account section is blank. Not sure if I'm doing something wrong or if this is an issue with Frame.

[2020-01-14 01:32] DaniellMesquita opened #319 "Reproducible builds"

[2020-01-14 01:38] floating commented on #319
Not sure what this means

[2020-01-14 01:38] #319 closed

[2020-01-15 20:07] DaniellMesquita commented on #296
I'd already suggested a Simple Mode months ago: https://github.com/floating/frame/issues/280

[2020-01-15 20:09] DaniellMesquita opened #320 "Send notifications when user receives a token or NFT"

[2020-01-21 10:40] mirshko commented on #277
Re: Catalina, it looks like the menubar icon is also greyed out on Catalina, not sure if this is due to me using a Hot account or something or an issue.

<img width="127" alt="Screen Shot 2020-01-21 at 11 38 53" src="https://user-images.githubusercontent.com/8116716/72798219-dd81c980-3c42-11ea-8af7-c206bb36992e.png">

[2020-01-26 23:15] marsrobertson opened #321 "Just like Metamask - one seed phrase, multiple networks"
Installing Agent via command line and Frame

If I have seed phrase account on mainnet, please allow me to have the same phrase account on Rinkeby

[2020-02-01 20:54] marsrobertson opened #322 "Respect capitalisation"
I would never use such capitalisation.

I probably used all caps or all lowercase, sorry not sorry.

![image](https://user-images.githubusercontent.com/44369284/73598834-e6bd4100-4534-11ea-84ac-d5e3f2b5f196.png)

[2020-02-01 21:01] marsrobertson opened #323 "Ability to clear the rejected transaction (just noise)"
Handy `X` button cannot harm:

![image](https://user-images.githubusercontent.com/44369284/73598935-effadd80-4535-11ea-85c1-1e98e55728af.png)

[2020-02-01 21:04] marsrobertson opened #324 "Ability to customise the gas fee?"
I couldn't find a menu to customize the gas fee / gas limit.

![image](https://user-images.githubusercontent.com/44369284/73598953-2cc6d480-4536-11ea-8c10-cd4b7f414c39.png)

----

My DAO had 0 ETH but I understand it was my acting account that paid for the gas.

[2020-02-01 21:08] floating commented on #322
For the majority of cases it's a proper noun (a name used for an individual person, place, or organization, spelled with initial capital letters) and an acronym (an abbreviation formed from the initial letters of other words and pronounced as a word e.g. ASCII, NASA).

You can change the name of your account in the settings to anything you'd like if it doesn't fit that format.

[2020-02-01 21:08] #322 closed

[2020-02-01 21:09] floating commented on #324
This will be in the next release

[2020-02-01 21:11] floating commented on #323
Agreed, we add something like this. In the meantime, closing your account will clear your recent transactions.

[2020-02-05 22:06] PaulRBerg opened #325 "Second transaction is not shown to the user"
This is exactly the same problem as with https://github.com/MetaMask/metamask-mobile/issues/1249, so I'll just copy paste the answer from there.

## Description
Here's my transaction flow:

1. Approve token
2. Submit dapp tx

And an approximation for my JavaScript code that creates these two transactions (with ethers.js).

[code]

The 2n transaction is picked up by Frame, but it gets stuck in the

[2020-03-10 16:38] john-light opened #327 "Agent: Check for "Create new vote" permission on acting account"
My EOA has the "Create new vote" permission in the Aragon org whose Agent I want to use via Frame. However, when I try to select this EOA as the acting address when adding the Agent Smart Account, nothing happens. I believe this is because Frame is only looking at whether the acting account holds a token in the Agent's organization, rather than looking at the permissions (I could be wrong about th

[2020-03-14 16:02] DaniellMesquita opened #328 "Support smart-contract wallets"
- [ ] Gnosis Safe
- [ ] Authereum
- [ ] Argent
- [ ] Others

[2020-04-06 16:48] Evalir opened #330 "Connection: Frame rejecting the connection inmediately when trying to enable provider"
When trying to connect to a provider, either through [`web3-react`](https://github.com/NoahZinsmeister/web3-react/blob/v6/packages/frame-connector/src/index.ts#L55) or using `eth_requestAccounts`, the connection flow automatically fails, without the user having authorized or denied the connection request in Frame. There's a few easy ways to reproduce this behavior:

- Try to connect using [this Gi

[2020-04-10 17:52] floating commented on #330
I will look into this, thanks @Evalir

[2020-04-11 23:36] ShenaniganDApp opened #331 "Can't open on Windows Version 10.0.17134 Build 17134"
Frame icon shows in taskbar but crashes immediately. No error message or visual indications of the app running

[2020-04-15 15:24] john-light opened #332 "Frame Smart Account does not work with Uniswap"
The problem appears to specifically be with the Smart Account because I can complete swaps using just a Ledger account.

In Chromium my Frame account shows up and I can get a quote, but clicking "Swap" results in nothing happening in Frame.

In Firefox my Frame account shows up but I cannot get a quote, and the "Swap" button remains greyed out.

Here's what shows up in the Frame terminal when I cl

[2020-04-17 12:25] prusnak opened #333 "upgrade trezor-connect dependency to latest"
Please upgrade the trezor-connect[1] dependency of your application to
latest (8.1.1 atm), otherwise your users won't be able to enter the
passphrase on the device.

Thanks!

[1] https://www.npmjs.com/package/trezor-connect

[2020-04-17 17:24] travisdmathis commented on #281
second!

[2020-05-02 22:44] adamstallard commented on #283
@floating If I understand you, this means that most dapps won't accept a message signed by the actor address and verified as valid by the DAO address.

When you say "(yet)" do you expect dapps to start accepting this in the future?

I'm interested in interacting with https://explorer.bounties.network/explorer/, which requires the user to "log in" by signing a message.

[2020-05-11 13:36] travisdmathis commented on #281
@floating any thought on adding keepkey support? It's really one of the best hardware wallets out there. I would love to see it get some support and be able to use it.. I really don't like having to go back to using a ledger. They aren't as nice.

[2020-05-12 02:46] floating commented on #281
@travisdmathis ordered one to check it out

[2020-05-12 05:30] GioF commented on #278
Also boned by using a tiling window manager...
Debian + dwm.

[2020-05-21 01:17] travisdmathis commented on #281
@floating excellent news, let me know how it goes.s Looking forward to seeing support.

[2020-05-30 12:45] densmirnov opened #335 "Impossible to sign a message when logging in via aragon agent"
When I'm trying to login to cryptovoxels.com or opensea.io via Aragon agent I have to sign a message, but when I'm trying to do so I've got a following error.

![Снимок экрана 2020-05-30 в 15 44 17](https://user-images.githubusercontent.com/811885/83328545-762cf380-a28c-11ea-8893-b1f59e8c0fe7.png)
![Снимок экрана 2020-05-30 в 15 44 23](https://user-images.githubusercontent.com/811885/83328547-788f

[2020-05-30 18:38] floating commented on #335
Hey @densmirnov! Yes, this because you're actually signing the message with the acting address as DAOs cannot sign messages. In the next version of Frame we will correctly return this acting signature but it will still be up the the dapp to understand the current account is a DAO and call its `isValidSignature` method to verify the acting signature. We'll publish a guide about how to do this once

[2020-06-01 18:55] leomorozovskii opened #336 "Problems with ABI/missing app artifact"
[error.log](https://github.com/floating/frame/files/4712938/error.log)

Once the Frame loads up lots of errors in the background (in the error.log file)
When connected to a Dapp and trying  to sign a transaction i get
**21:49:39.011 > Error: Could not create transaction due to missing app artifact**
or
No ABI specified

Seems like IPFS problem, but can't get it to work

[2020-06-04 11:09] sepu85 opened #337 "Chrome Plugin 0.2.0 is not working"
The Plugin itself does not works at all, the installation is successful, but once the frame plugin is shown in the Chrome UI, it doesn't respond when clicking on it, nor is recognized when tried to use it from an Aragon DAO.

[2020-06-04 19:02] floating commented on #337
There is no UI or interaction with the Chrome plugin. It simply injects a connection to the native Frame provider.

[2020-06-27 06:17] john-light opened #339 "Organizations not resolving with 0.2.5"
Installed 0.2.5 from https://frame.sh

Attempted to load Agent from `frametest06272` Rinkeby organization while using Frame with Rinkeby.

This is the error shown:

![frame-error1](https://user-images.githubusercontent.com/9424721/85916199-471e8900-b81c-11ea-9be6-260db10f7255.png)

On 0.2.4 the same operation works:

![frameerror2](https://user-images.githubusercontent.com/9424721/85916202-51d91e0

[2020-06-28 19:21] floating commented on #339
Thanks for reporting! Looking into this...

[2020-07-11 10:19] kruezbergbier opened #340 "What’s up dudes"

[2020-07-11 11:00] kruezbergbier opened #341 "Superz"
_Originally posted by @kruezbergbier in https://github.com/viper-aircrafts-inc/novobot/issues/1_

[2020-07-11 14:42] #340 closed

[2020-07-11 14:44] #341 closed

[2020-07-11 14:44] #337 closed

[2020-07-11 20:34] kruezbergbier opened #342 "Missip"
[](https://github.com/reanahub/reana-job-controller/issues/263)

[2020-07-12 01:16] kruezbergbier opened #343 "![B522A70E-1CC2-4B19-931C-E3D7A5FA31CA](https://user-images.githubusercontent.com/19561442/87236611-ff1d6b80-c3b0-11ea-925d-273137dfaace.png)"
![B522A70E-1CC2-4B19-931C-E3D7A5FA31CA](https://user-images.githubusercontent.com/19561442/87236611-ff1d6b80-c3b0-11ea-925d-273137dfaace.png)

_Originally posted by @kruezbergbier in https://github.com/reanahub/reana-job-controller/issues/263#issuecomment-657156569_

[2020-07-12 12:00] kruezbergbier commented on #341
![EF41AD60-D3C8-44AE-A33C-445CDEE5BEED](https://user-images.githubusercontent.com/19561442/87245724-54876600-c40d-11ea-8aa7-289e21262be5.png)

[2020-07-12 12:01] kruezbergbier opened #344 "|vip"

[2020-07-12 12:04] kruezbergbier commented on #344
[A^~]-[B^~]+[C^|

[2020-07-14 23:34] john-light opened #345 "Pick which Agent to use in an organization"
When I load my Agent account in Frame, it seems to assume which Agent address on the organization to use if there are multiple Agent apps installed. If there are multiple Agent apps installed I would like Frame to ask me to select which Agent address I want to act with.

[2020-08-04 13:51] iadpay opened #347 "Unable to resolve DAO xxx.gragonid.eth in rinkeby testnet"
release 0.25
And Im sure that  I had created a DAO named aragonchina in rinkeby testnet
![image](https://user-images.githubusercontent.com/45452961/89301767-9e760b80-d69c-11ea-912a-f62ef0c231e5.png)

[2020-08-11 14:13] floating commented on #347
Hi @iadpay sorry for the delay, we updated the Rinkeby ENS registry to match https://docs.ens.domains/ens-deployments We will provide a fix for this to use the prior Rinkeby registry in the next release, for now you can still use v0.2.4 when on Rinkeby.

Sorry about the inconvenience!

[2020-08-20 00:16] MysticRyuujin opened #350 "Support for Private CA Certificates"
It would appear that Frame doesn't support TLS (HTTPS) connections to nodes that are protected/signed by a private CA certificate.

I have local nodes sitting behind NGINX, NGINX takes care of the TLS/HTTPS connection, the root CA certificate is trusted by my system (i.e. curl doesn't complain about the certificates signed by that root CA, etc) however, Frame seems to be unable to connect over HTT

[2020-08-20 00:41] MysticRyuujin opened #351 "Allow "Local" node to be configured"
I really love the fact that Frame can be configured with a local node and a "Secondary" node. However, it would be nice if "Local" could be configured to mean something other than localhost (or local subnet? I'm not sure what "scanning" actually means in the GUI).

You could even limit it to RFC 1918 private IP space if you want to maintain the "local" requirement. This would open it up to DAppNod

[2020-08-20 03:31] floating commented on #351
Hey @MysticRyuujin! I agree, it should probably be "Primary" and "Secondary" with both accepting custom endpoints. We will put this on the roadmap!

[2020-08-20 03:31] floating commented on #350
Thanks for reporting, I will look into this

[2020-08-24 15:56] MickdeGraaf commented on #331
I have the same issue. Would love to see this fixed

[2020-08-25 03:01] floating commented on #331
Sorry for not responding here earlier, looking into this

[2020-08-28 06:37] floating commented on #331
Please try v0.3.1 https://github.com/floating/frame/releases/tag/v0.3.1

[2020-08-28 06:38] floating commented on #339
Hey @john-light! This is fixed in v0.3.1 https://github.com/floating/frame/releases/tag/v0.3.1

[2020-08-28 06:39] floating commented on #347
This is fixed in v0.3.1 https://github.com/floating/frame/releases/tag/v0.3.1

[2020-08-28 06:41] floating commented on #333
Closing this as it has been updated. Sorry for the lack of response here, thanks for reporting.

[2020-08-28 06:41] #333 closed

[2020-08-28 06:48] #347 closed

[2020-08-28 06:48] #339 closed

[2020-08-28 18:21] john-light opened #356 "Gas price on Rinkeby is unnecessarily expensive"
The gas price on rinkeby frame network seems to be unnecessarily expensive, maybe because it's fetching the current gas price from mainnet and using that? But I think we can safely hardcode 1 gwei gas price until #83 is fixed.

![feeoverspend](https://user-images.githubusercontent.com/9424721/91602667-b9553c00-e939-11ea-87a9-005bd369d344.png)

[2020-08-28 18:55] floating commented on #356
Ah yes, you're right. v0.3 pulls in gas data from ETH Gas Station now and the same calculation is used on both mainnet and testnets

[2020-08-31 09:30] MickdeGraaf commented on #331
@floating I'm still having the same issue. Frame shows up as a tray icon but I cannot open it.

[2020-08-31 16:24] floating commented on #331
@MickdeGraaf Very strange, I've never been able to reproduce this issue.

[2020-08-31 17:08] floating commented on #331
@MickdeGraaf Do you mind sending your Frame logs to jordan@frame.sh and I will look into this.  You can find them at `%USER%\AppData\Roaming\Frame\logs\main.log`

[2020-08-31 19:48] floating commented on #276
In v0.3

[2020-08-31 19:48] #276 closed

[2020-08-31 19:50] floating commented on #336
Closing as this has been resolved since v0.2.5

[2020-08-31 19:50] #336 closed

[2020-08-31 19:53] floating commented on #277
All of the issues outlined in this issue have been resolved in v0.3 which you can download now at https://frame.sh

[2020-08-31 19:53] #277 closed

[2020-09-08 21:29] JMed0115 opened #358 "Do you have or can you have support for IDChain?"
I am working with Adam Stallard and BrightID on a DAO using Aragon.  We are using a second layer network IDChain. https://github.com/BrightID/IDChain.  I have a test DAO on IDChain on Aragon and would like to install Frame.  Would you support IDChain. There are many DAO's on IDChain.

[2020-09-12 17:21] KPrasch commented on #129
Howdy!  Thanks for all your wonderful and stylish work on Frame! :cowboy_hat_face:

This issue is also effecting me for the same reason.

While there are lots of similarities, there are some important differences between Frame and MetaMask - most notably frame perform the duty of account management, signing transactions, and runs as a stand-alone OS-level application. :+1:

While I do benefit from

[2020-09-13 20:58] floating commented on #129
Hey @KPrasch, thanks for the feedback! We can look into this again. Frame is not Clef based and follows a different flow but we could still support this method and add UX to make it clear that it's not the standard transaction signing flow.

[2020-09-13 21:04] KPrasch commented on #129
@floating - Thanks for looking into it!

M\y mistake about being a clef signer - I believe they have you listed on their Github Readme: https://github.com/ethereum/go-ethereum/tree/master/cmd/clef#ui-implementations

[2020-09-14 00:42] floating commented on #358
Hey @JMed0115! Yes, in v0.4 we'll have custom chain presets that will allow you to add IDChain.

[2020-09-18 02:44] john-light opened #361 "Unable to resolve kernel address when adding smart account"
I am trying to load an organization's Agent as a smart account and the organization does not have an ENS name. So I enter the organization's kernel address, and Frame says:

[2020-09-18 08:06] floating commented on #232
A fix for this is in v0.3.1, thanks again for reporting @john-light!

[2020-09-18 08:06] #232 closed

[2020-09-18 08:26] Swader opened #362 "EACCESS error on Windows, version 0.31"
![image](https://user-images.githubusercontent.com/1430603/93574962-559ebb80-f999-11ea-8834-6fc7be307d1c.png)

Frame runs and I can interact with it in the sidebar while this popup is up, but when I click OK it all shuts down. If a ledger is connected, the app will NOT recognize it (it will say no devices detected), but other functionality seems to work.

The port in question is not occupied:

![i

[2020-09-18 20:28] floating commented on #362
Hey @Swader! Sorry for the inconvenience, can you send your log file (`{USER}\AppData\Roaming\Frame\logs\main.log`) to me (jordan@frame.sh) and I will dig into this issue

[2020-09-18 21:00] Swader commented on #362
Sure

[main.log](https://github.com/floating/frame/files/5248147/main.log)

[2020-09-21 10:52] Swader commented on #362
Reboot helped, but when I tried previously it didn't. I'll reopen if it happens again.

[2020-09-21 10:52] #362 closed

[2020-09-23 08:48] floating commented on #83
Gas controls are in **v0.3.2** and I wanted to get some feedback before wider release. You can find **v0.3.2** here: https://github.com/floating/frame/releases/tag/v0.3.2 -- **this is a prerelease version of Frame still undergoing testing/QA** to be released very soon

All feedback is very much appreciated

[2020-09-23 21:04] floating commented on #83
![gasDemo](https://user-images.githubusercontent.com/598504/94069557-ca6d5d80-fdbe-11ea-9838-1ee142892e48.gif)

[2020-09-23 22:02] floating commented on #296
We've implemented a number of things to improve performance over the last few releases, please reopen if this is still an issue

[2020-09-23 22:02] #296 closed

[2020-09-24 05:11] #181 closed

[2020-09-24 08:08] floating commented on #356
Fixed in v0.3.2 out now! Thanks for reporting.

[2020-09-24 08:08] #356 closed

[2020-09-24 08:11] floating commented on #351
The "Primary" node feature has been release in v0.3.2! Thanks!

[2020-09-24 08:11] #351 closed

[2020-09-24 08:12] floating commented on #330
This should be fixed with v0.3.2 out now. Thanks for reporting!

[2020-09-24 08:12] #330 closed

[2020-09-24 08:12] floating commented on #83
Gas controls have landed in v0.3.2 out now!

[2020-09-24 08:12] #83 closed

[2020-09-24 08:14] floating commented on #331
Please test with v0.3.2 and if you're still experience this issue send your logs to jordan@frame.sh. Thanks!

[2020-09-24 08:15] floating commented on #332
Hey @john-light! Are you still experiencing this issue?

[2020-09-24 08:16] floating commented on #324
This feature has been released in v0.3.2! Thanks for reporting.

[2020-09-24 08:16] #324 closed

[2020-09-24 08:22] floating commented on #278
We have added many compatibility improvements in this area but we do not currently test against tiling window managers for each release. I encourage you to try v0.3.2 that was just released and report back if you're still having issues.

Thanks for reporting!

[2020-09-24 08:22] #278 closed

[2020-09-24 08:25] floating commented on #247
Hey @izqui, can you update me on latest here? There's some Aragon smart account maintenance is on the horizon.

[2020-09-24 10:07] floating commented on #255
Please reopen if there are any updates on this front that I could help with

[2020-09-24 10:07] #255 closed

[2020-09-24 10:11] floating commented on #317
You'll need to add an external account that can sign transactions before creating your Aragon smart account

[2020-09-24 10:11] #317 closed

[2020-09-24 10:13] floating commented on #292
Sorry for the delay here, we'll provide a fix for this soon. Closing as duplicate of #361

[2020-09-24 10:13] #292 closed

[2020-09-24 18:43] john-light commented on #332
Uniswap works with Smart Accounts again! Thanks for following up :smile:

[2020-09-24 18:43] #332 closed

[2020-09-26 05:37] izqui opened #363 "Transaction confirmation: allow copying 'to' address and 'data'"
Super useful for verification or using that data in some other way

[2020-09-26 05:39] izqui opened #364 "Add support for fake accounts"
Allow to create an account with an arbitrary address for which the user might not have the private key, or not be able to connect it to Frame (ie. really cold storage). Combined with #363, this can be used to generate raw call data which they can be signed by a cold account

[2020-09-26 05:40] izqui opened #365 "In-app transaction crafting"
I would love a simple form for power users that I can use to send a transaction directly from Frame (or build a simple dapp at frame.sh to do this). Similar to MyCrypto, sometimes it is useful if I can just input all the details for a tx and then sign it.

[2020-09-28 06:27] matkam commented on #169
I was able to [convert](https://developer.apple.com/documentation/safariservices/safari_web_extensions/converting_a_web_extension_for_safari) and [run](https://developer.apple.com/documentation/safariservices/safari_app_extensions/building_a_safari_app_extension#2957926) the [extension](https://github.com/floating/frame-extension). It doesn't actually do anything and needs some glue to make it wor

[2020-09-29 19:49] floating commented on #169
Yes, this was the problem initially because Safari doesn't treat localhost as a secure origin, which it should and other browser do.

[2020-09-29 20:17] matkam commented on #169
That is a bit of a pain, but the restriction could potentially be worked around. Frame could serve https with a self signed cert, and the user would have to explicitly approve the cert on their system. Frame would be the way to get Web3 on Safari as Metamask doesn't even support Safari.

[2020-09-29 20:39] floating commented on #169
Yeah! We're open to this solution but haven't had the time to implement something like this yet.

[2020-10-05 13:51] floating commented on #331
Closing this for now, please report if this is still an issue for you

[2020-10-05 13:51] #331 closed

[2020-10-11 17:06] floating commented on #358
@JMed0115 Support for IDChain has been added to `v0.3.3` are you able to run Frame branch `0.3.3` from source to provide integration feedback?

[2020-10-11 18:53] floating commented on #287
This was fixed in the latest Frame extension update `v0.3.3` which should be available via extension stores shortly.

[2020-10-11 18:53] #287 closed

[2020-10-12 19:28] floating commented on #358
`v0.3.3` is now merged into `master` and prerelease versions are available https://github.com/floating/frame/releases/tag/v0.3.3

[2020-10-15 02:04] JMed0115 commented on #358
i appreciate the help but I cannot seem to get 0.3.3 to run on IDChain on my Chrome Browser

[2020-10-15 02:30] JMed0115 commented on #358
Does Frame require Ledger or Trezor to work?  Can it work with just the Metamask Wallet?

[2020-10-15 04:36] floating commented on #358
Yes. Are you running both the app and the extension? The extension is a simple bridge to from your browser to the app. https://github.com/floating/frame/releases/tag/v0.3.3

[2020-10-15 16:36] JMed0115 commented on #358
I am running the Metamask extension in Chrome.   It seems to connect but my Aragon DAO stills says that I need to install Frame.
![image](https://user-images.githubusercontent.com/65126728/96159733-3f214c80-0ed2-11eb-8690-d29d2783c510.png)

[2020-10-15 17:02] floating commented on #358
If you scroll down there you'll see a message to install our browser extension. Once you do that, toggle Metamask off and you should then be using our injected provider.

[2020-10-27 03:09] floating commented on #364
Non-signing address accounts have been released in v0.3.4! https://github.com/floating/frame/releases/tag/v0.3.4

[2020-10-27 03:09] #364 closed

[2020-10-27 03:11] floating commented on #363
These fields can now be copied with a simple click in v0.3.4! https://github.com/floating/frame/releases/tag/v0.3.4

[2020-10-27 03:11] #363 closed

[2020-10-27 03:12] floating commented on #159
xDai support has been released in v0.3.4! https://github.com/floating/frame/releases/tag/v0.3.4

[2020-10-27 03:12] #159 closed

[2020-10-27 03:12] floating commented on #358
IDChain support has been released in v0.3.4! https://github.com/floating/frame/releases/tag/v0.3.4

[2020-10-27 03:12] #358 closed

[2020-10-27 03:17] floating commented on #251
Hot signer session/lock settings have been released in v0.3.4! https://github.com/floating/frame/releases/tag/v0.3.4

**`Close`** will lock your signer when your account is closed.
**`Quit`** will lock your signer when Frame is quits.

We plan to give users even more control to dial-in their security preferences in the future.

[2020-10-27 03:17] #251 closed

[2020-10-30 10:07] dryob opened #376 "Feature request: gas limit adjustment"

[2020-11-15 23:00] ajsantander commented on #169
+1 on this feature request!

[2020-11-16 06:43] thegostep commented on #169
+1 would make me switch from chrome (and metamask)

[2020-12-03 17:57] AlexVN74 opened #381 "Trezor T add ability to enter passphrase on device"
now you can enter passphrase only in Frame

[2020-12-09 10:42] johngrantuk opened #383 "Custom Gas Limit"
When trying to enter a custom gas it appears I can only use a slider to select the value and it won't let me select a number below a certain vaule (approx 36 at the moment). Would be nicer to let me select any value I want, i.e. lower value, and for me it might be easier to use an input box rather than a slider.

[2020-12-09 11:41] floating commented on #383
Hey @johngrantuk! The slider should go down to 1 Gwei if you mouse all the way to the left -- that being said we agree and we've already completed an array of improvements to make that interface more friendly including adding a gas price input field, gas limit adjustment and time estimates. These updates will be in v0.3.8, which should be out within a week or two.

[2020-12-09 13:28] johngrantuk commented on #383
I actually thought that should be the case but I just couldn't get it to work that way! Thanks very much for the update, looking forward to the update. Something like Frame is much needed I think so excited to keep trying it out.

[2020-12-22 15:56] MysticRyuujin opened #388 "Integration with Lattice1"
This might be a long shot feature request...but...it might be a way to steal some market share from MetaMask :smile:

It would be pretty cool if Frame could talk to the GridPlus Lattice1 (https://gridplus.io/products/grid-lattice1)

Right now, they pretty much only have an Unofficial MetaMask plugin that works with it, and that's gross. I'd like to see official support from system like Frame.

:he

[2020-12-22 18:17] floating commented on #388
Thanks Chase! I will reach out to them and see what this would entail

[2020-12-23 02:58] MysticRyuujin opened #389 "Broken signing with Gnosis Safe & 1inch"
Gnosis Safe (https://gnosis-safe.io/) only works with Frame if I select the "Opera" option to connect. And when I do that, it usually works alright. However, I just tried to use their 1inch exchange dapp integration to make a swap. The dapp would tell me to confirm/sign but Frame would just sit there doing nothing for a solid 60 seconds or more before finally showing that I had a signature signing

[2020-12-23 03:09] floating commented on #389
Thank you for reporting @MysticRyuujin

Onboard related issues should be resolved soon following this issue: https://github.com/blocknative/onboard/issues/460

I will update here once one of the two solutions is available

[2020-12-23 17:55] MysticRyuujin commented on #389
I'm not 100% sure that this is the exact problem / issue but I'll be happy to wait it out.

I should note that this actually causes frame itself to crash as well.

[2020-12-23 17:58] floating commented on #389
Oh, yes, I will look into this on the Frame side too then -- that definitely shouldn't happen. Thanks again for reporting.

[2020-12-23 18:02] MysticRyuujin commented on #389
More info:

OS: Linux Mint 20
Browser: Brave w/Frame Extension
Frame:  v.0.3.6

[2021-01-27 20:46] #383 closed

[2021-01-27 20:56] floating commented on #376
This feature has been included Frame v0.4, which has been merged into master and will be released shortly after cross-platform QA and testing.

[2021-01-27 20:56] #376 closed

[2021-01-27 20:56] floating commented on #291
This feature has been included Frame v0.4, which has been merged into master and will be released shortly after cross-platform QA and testing.

[2021-01-27 20:56] #291 closed

[2021-01-27 20:58] floating commented on #234
This feature has been included Frame v0.4, which has been merged into master and will be released shortly after cross-platform QA and testing.

[2021-01-27 20:58] #234 closed

[2021-01-27 21:04] floating commented on #383
This feature has been included Frame v0.4, which has been merged into master and will be released shortly after cross-platform QA and testing.

[2021-02-01 17:35] floating commented on #383
@johngrantuk This functionality has been released in v0.4 https://github.com/floating/frame/releases/tag/v0.4.0

Thanks for opening this issue!

[2021-02-01 17:35] floating commented on #376
@dryob This functionality has been released in v0.4 https://github.com/floating/frame/releases/tag/v0.4.0

Thanks for opening this issue!

[2021-02-01 19:23] gnidan commented on #388
Any update on this? I just found Frame and love it!

[2021-02-01 21:35] floating commented on #388
Hey @gnidan! Glad you found Frame!

I did reach out to them and they responded saying they do not currently have the bandwidth work on integrations. We also do not currently have the bandwidth to take this on without their help. That being said, I'll leave this open and I hope we can work something out in the future.

[2021-03-07 20:37] pepawel opened #401 "Multiple accounts on Trezor support"
When connecting Trezor it is not possible to choose Ethereum account if there are many on single Trezor device.
Instead the first one is chosen. Other wallets such as Metamask support selecting account which will be used later.
It would be best if one could import all accounts from Trezor, maybe with ability to choose only some of them.

[2021-03-08 06:00] floating commented on #401
Once the Trezor is added Frame will automatically derive 100 addresses and make them accessible by selecting "addresses" here:

![image](https://user-images.githubusercontent.com/598504/110280720-4e03bb00-7fa9-11eb-8dfa-479d8e95646b.png)

We're working to make this clearer and more fully featured in the future.

[2021-03-16 16:09] MysticRyuujin commented on #388
@androolloyd :smiley:

[2021-03-18 11:02] androolloyd commented on #388
@gnidan nudge nudge

[2021-03-20 13:38] ligi commented on #74
YAY - https://twitter.com/androolloyd/status/1373240561176576003

[2021-03-22 12:52] TripleSpeeder opened #405 "Enable setting names to individual seed phrase accounts"
I have a bunch of accounts derived from the same seed phrase that i use regulary. Currently it is not possible to set names to each of the derived accounts. I can only change the name of the "parent" account ("Seed Account" by default)
It would be a nice usability improvement to be able to have a readable name with each derived account.

[2021-03-26 23:23] imrane commented on #282
+1 would love support for this

[2021-03-27 18:33] floating commented on #405
We are reworking accounts for v0.5 and plan to introduce something like this! Thanks for opening the issue.

[2021-05-13 15:34] oliviermilla opened #431 "On windows client, manage the "frame is already running" error message more gracefully"
just bring the window back to front :)

[2021-06-21 14:33] nailkhaf commented on #381
Can't use frame without this preference

[2021-06-25 15:19] mastercyb opened #466 "Add Ledger Live derivation path for Trezor"
In the last change Ledger completely disappointed me, and I would love to migrate to Trezor. The problem with migration is that I use Ledger Live derivation of accounts and I use plenty of them. I cannot simply transfer my values to the new group of accounts because (1) gas is expensive these times and 2) a lot of value vested. The only way for me to migrate for me is to somehow get support Ledger

[2021-07-04 09:18] onbjerg opened #486 "Flag to disable slide out?"
The sliding in/out feature is great for traditional window managers, but it actually renders frame completely unusable on tiling window managers without special considerations. Is there a way, or can we add a way, to disable this feature and have Frame act as just a normal window?

[2021-07-06 05:38] floating commented on #486
Hey @onbjerg! v0.5 should work better for you in this regard.

You can try out the beta here: https://github.com/floating/frame/releases/tag/v0.5.0-beta.1

Let me know if this solves the issue!

[2021-07-06 12:51] onbjerg commented on #486
Hey @floating, it hasn't been possible for me to get Frame v0.5 to work at all, I've tried using both `yarn` and `npm`, and I've also made a clean clone of the repository and tried running the `clean` task (both with `yarn` and `npm`):

[code]

[code]

[2021-07-06 12:55] onbjerg commented on #486
@floating It works fine if I disable auto-hide and so on, but the summon shortcut doesn't work on bspwm (`Alt + \`) and I would urge you to choose something other than `\` since it is in a super awkward spot for ISO layout keyboards

[2021-07-06 13:03] onbjerg opened #487 "Native coin on xDai shows up as Ether"
My balance of 0.07 xDai shows up as 0.07 Ether in Frame, which in turn means that the calculated USD balance is wrong. I suspect this might be prevalent on other L2 chains as well

[2021-07-06 13:05] #486 closed

[2021-07-06 13:06] onbjerg opened #488 "0.5: Choose some other summon keybind"
The current keybind is set as `Alt + \` which is not ideal for ISO layouts at all (would require users to press `Alt + Shift + 7`). I recommend choosing some other keybind or letting us customize it

[2021-07-06 13:08] onbjerg commented on #137
Seems to be added in 0.5, but I would also request the ability to add custom tokens (important for things like xDai or other L2s) as it looks like the tokens displayed are fixed to mainnet addresses

[2021-07-06 20:57] mholtzman commented on #487
hey @onbjerg are you seeing this reliably? if so, do you have any set of steps that may be able to reproduce this? I've tried a few times with my account but I'm seeing my balance in xDai so it would be useful to know how you're getting to this point so that we can figure out what's going on here

![image](https://user-images.githubusercontent.com/3717135/124665789-2a7b4f00-de7b-11eb-993a-abc6cda0

[2021-07-06 21:02] mholtzman commented on #137
@onbjerg are you referring to the price of the tokens being fixed to whatever the quoted price is for the mainnet contract? we do use a cross-chain token list, though the coverage for other chains is not comprehensive at the moment. are there specific tokens you're not seeing?

[2021-07-06 21:03] onbjerg commented on #487
It fixed itself after I completely deleted `~/.config/frame` so it might just have been some oddity with some old state

[2021-07-06 21:03] #487 closed

[2021-07-06 21:04] onbjerg opened #489 "Notice: AUR package"
Hey! I just wanted to notify you that I have started providing an AUR package for Arch-based installations: https://aur.archlinux.org/packages/frame-eth/

Note that the current version for that package is the "stable alpha" release, 0.4.4. For the (way cooler) 0.5 version use `frame-eth-dev` instead

If you want to list it somewhere, feel free :)

[2021-07-06 21:05] onbjerg commented on #137
I'm just referring to the tokens themselves. I am not seeing [Honey](https://info.honeyswap.org/#/token/0x71850b7e9ee3f13ab46d67167341e4bdc905eef9) or [Agave](https://info.honeyswap.org/#/token/0x3a97704a1b25f08aa230ae53b352e2e72ef52843) on xDai

[2021-07-06 21:15] mholtzman commented on #137
which account is this? these are in our token list so if you have a balance they should be showing up. I'll have to investigate further to see if I can reproduce this with one of my accounts as well.

[2021-07-06 21:17] onbjerg commented on #137
https://blockscout.com/xdai/mainnet/address/0x3EdcEC2e8a11a4A2e7b482DDdeE53D5eFa75E50f/transactions

[2021-07-06 21:23] onbjerg opened #490 "Ledger legacy missing accounts"
On my Ledger I have 2 accounts on the legacy derivation path but Frame only shows me one, and there is no drop down anywhere to switch. Both accounts have Ether in them.

If I check `.config/frame/config.json` I can see the addresses of both accounts listed, so I'm not sure why it doesn't show up in Frame.

This is Frame 0.4.4.

[2021-07-06 21:34] floating commented on #490
Hey @onbjerg in v0.4.x your other derived addresses are found in account settings here:

<img width="329" alt="Screen Shot 2021-07-06 at 5 29 54 PM" src="https://user-images.githubusercontent.com/598504/124669431-59e08a80-de80-11eb-82da-0f2ea3f3b327.png">

[2021-07-06 21:35] onbjerg commented on #490
Ah I see, I thought it was just directly on the signer page. Thanks!

[2021-07-06 21:35] #490 closed

[2021-07-06 21:37] mholtzman commented on #137
do you not see it at all or just a zero balance? I have a very small honey balance on xDai and I see this, so we'll definitely have to take a look at the rendering logic for low balances:

![image](https://user-images.githubusercontent.com/3717135/124669666-c65b8980-de80-11eb-9b9e-101d900eee82.png)

[2021-07-06 21:38] onbjerg commented on #137
I see it now, I'm not sure why I didn't see it before - maybe my RPC was out of date

[2021-07-06 21:38] floating commented on #489
Awesome, thanks!

[2021-07-06 21:40] mholtzman commented on #137
no worries! we appreciate the feedback, if anything looks off to you going forward just let us know

[2021-07-06 23:10] onbjerg opened #491 "0.5: Non-signing accounts broken"
When I try to add a non-signing account on Frame 0.5 beta 1 it gives me an error "Unknown RPC method: CREATEFROMADDRESS"

[2021-07-09 22:45] john-light opened #498 "Add RSK network"
As of the new 0.5 beta there is now support for additional EVM networks (such as Polygon, xDAI, Optimism, and IDChain), this is great to see :star_struck:

I would also like support for [RSK network](https://developers.rsk.co/rsk/) added so I could use Frame with dapps like [Sovyrn](https://sovryn.app), [RskSwap](https://rskswap.com), [Money On Chain](https://moneyonchain.com), [RNS](https://manag

[2021-07-10 14:36] floating commented on #498
Hey John!

At the bottom of the chains panel you should see "add a new chain", this will give you the ability to add RSK using the details found on their website here https://developers.rsk.co/wallet/use/metamask

Chain Name: RSK
Chain ID: 30
Symbol: RBTC
Block Explorer: https://explorer.rsk.co

Once you add this chain you will then be able to set the primary connection to https://public-node.rsk.

[2021-07-10 15:11] floating commented on #321
Fixed in `v0.5` https://github.com/floating/frame/releases/tag/v0.5.0-beta.1

[2021-07-10 15:11] #321 closed

[2021-07-10 15:12] floating commented on #388
Lattice1 support is in v0.5!

https://github.com/floating/frame/releases/tag/v0.5.0-beta.1

[2021-07-10 15:12] #388 closed

[2021-07-10 15:14] floating commented on #323
In v0.5! https://github.com/floating/frame/releases/tag/v0.5.0-beta.1

[2021-07-10 15:14] #323 closed

[2021-07-10 15:16] floating commented on #253
Closing, this should now report the correct error

[2021-07-10 15:16] #253 closed

[2021-07-11 02:50] MysticRyuujin opened #499 "Lattice1 pairing "enter" key"
Using the latest beta (Linux AppImage):

Add signer, select Grid+ Lattice1, enter device ID. Press `<enter>` key.

Lattice1 will prompt for password, however Frame interface will not change until clicking the "CREATE" button.

If you let that time out, and then click the "CREATE" button Lattice1 will not register/prompt for password.

I think the interface just needs to recognize / change to the e

[2021-07-11 02:52] MysticRyuujin commented on #499
Also even after pairing via clicking the buttons, I just see this screen until I close it
![image](https://user-images.githubusercontent.com/8877131/125181301-275cc780-e1c9-11eb-847c-f856d7a7ea49.png)

[2021-07-12 14:57] john-light commented on #498
@floating Wow this worked perfectly! Well done. Thanks for the info and for enabling this functionality @floating & team :partying_face:

[2021-07-12 14:57] #498 closed

[2021-07-12 18:41] floating commented on #491
Thanks @onbjerg, should have this fixed in beta.2

[2021-07-14 10:15] InvisibleSymbol opened #506 "0.5 beta-1: Frame is constantly running Tasks in the background"
Looking at the logs Frame is constantly trying and falling to connect to my ledger (since it's intentionally not connected all the time). It has done almost 700 attempts in the past ~17 minutes alone. Unselecting the wallet in frame does not stop it, and frame is hidden while this is happening.

with many different stack traces following that, all basically just erroring while retrieving the addre

[2021-07-14 17:57] floating commented on #506
Hey @InvisibleSymbol, thanks for this very helpful feedback!

We are aware of the Ledger issue, basically Frame doesn't recognize the device disconnecting and continues to try to poll the device for its status. We will have a fix for this soon.

We will also be sure to audit how often we are fetching data from coingecko, especially when Frame is hidden. I think you will only run into that rate lim

[2021-07-16 14:15] mastercyb opened #508 "Can not sign with Ledger"
<img width="344" alt="Screenshot 2021-07-16 at 17 13 42" src="https://user-images.githubusercontent.com/410789/125961756-224ffa52-4bb6-4355-8155-e0f5b55bb274.png">

I am pretty sure it worked recently. Also I can perfectly sign with metamask such tx

[2021-07-16 14:38] floating commented on #508
Hey @cyb-master!

This error happens when the signer is either disconnected or asleep. Are you saying that you are having issues connecting your Ledger? When the Ledger is connected in v0.4.x you should see Ledger logo at the top of your account.

[2021-07-16 21:18] InvisibleSymbol opened #510 "Glide is too trigger-happy, consider requiring a key being held to trigger it"
- It triggers on the right side of my second monitor all the time. Personally, I would expect it to only trigger at the right side of the first, main monitor. ![](https://url.invis.cloud/pC30Hn)
- It also generally triggers when I try to aero-snap Windows to the right side of my Display, try to close a Window by moving my mouse to the top right or even just use a scrollbar.

I would love if I coul

[2021-07-17 20:07] InvisibleSymbol opened #512 "0.5 beta-2: Extended Permission list only shows up to 3 dapps"
I have more than those 3 dapps authenticated, such as uniswap or opensea, but they refuse to show up.
![image](https://user-images.githubusercontent.com/34715248/126047934-08fa4ad7-1544-4809-a095-2250bb450ad0.png)
![image](https://user-images.githubusercontent.com/34715248/126047927-d7f04b6f-694e-4e90-85b5-a6ae8651dad7.png)

It is also not possible to remove a previously authenticated dapp from th

[2021-07-17 20:43] floating commented on #512
Thanks for reporting! We will get this fixed asap and implement those suggestions too!

[2021-07-19 05:05] mastercyb commented on #508
Oh, thanks. Looks like I've got 2 identical ledger signatories on of which outcompete another.

[2021-07-19 05:05] #508 closed

[2021-07-19 06:08] mastercyb commented on #466
Add [Gitcoin bounty](https://gitcoin.co/issue/floating/frame/466/100026118)

[2021-07-21 11:11] davidpius95 commented on #466
I have tried many solution to this challenge but it still not working I think you should contact Support

[2021-07-23 09:58] mastercyb commented on #466
@davidpius95 I rejected your submission as there were no actual submission

[2021-08-02 21:26] #491 closed

[2021-08-02 21:27] floating commented on #405
This is available now in `v0.5-beta.2` https://github.com/floating/frame/releases

[2021-08-02 21:27] #405 closed

[2021-08-12 06:46] SvenMeyer commented on #489
Thanks but did not work for me :-(

[2021-08-12T06_44_05_548Z-debug.log](https://github.com/floating/frame/files/6973331/2021-08-12T06_44_05_548Z-debug.log)

[code]

[2021-08-12 21:23] floating commented on #512
This has been fixed in v0.5-beta.4 and sorting these by most recent is on our list of todos

[2021-08-22 15:41] gacopl opened #544 "Cannot process some ETH transactions - unmarshal error"
This happened to me on some web3 projects on frame 0.4.4 was fine

![image](https://user-images.githubusercontent.com/2278688/130361242-b337124e-bfab-4504-ba1d-81766d6ae939.png)

[2021-08-24 18:27] rewtraw commented on #169
Desperate for Safari support!

[2021-08-24 20:25] alex-miller-0 commented on #499
I also run into this issue.

[2021-08-26 14:33] sohkai opened #552 "Accounts: Ledger testnet derivation different in v4.0+"
A quick review of the derivation path changes in https://github.com/floating/frame/pull/429 and https://github.com/floating/frame/pull/397 didn't show any obvious changes to the testnet derivation path for Ledgers, but when using Frame v4.0+ (including the latest v5 betas), the older testnet derivations used in v0.1-0.3 seem to be missing and un-connectable.

Downgrading to v0.3.6 allowed those ac

[2021-09-03 00:55] zach-is-my-name opened #566 "Linux show/hide shortcut doesn't work"
alt + / doesn't work

[2021-09-04 14:52] bingen opened #567 "Can’t see top bar in 1080 height display"
On linux, with a screen resolution of 1920x1080, I can’t see the whole app, so I can’t access the top bar.
I don’t know how to scroll either.

[2021-09-04 15:25] floating commented on #567
Hey @bingen! Do you mind doing a quick screen recording of the problem you're running into re: top bar being cut off and scrolling? Also, are you using a multiple monitor setup? Frame should support a minimum height of 740 so I'd like to figure out what's happening here!

[2021-09-04 16:59] onbjerg opened #568 "Allow us to export accounts"
Allow us to export private keys and seedphrases for ring signers and seed signers just like Metamask does, please :)

[2021-09-07 12:42] shalzz opened #570 "Opening etherscan link via browser doesn't work on Linux"
When using Frame AppImage and trying to view a tx details, frame tries to launch a new browser instance instead of opening the link in the existing browser instance via `open`

This doesn't work with firefox on linux as firefox allows only one instance running at a time.

[2021-09-10 07:39] bingen commented on #567
I’ll try to record it.

Ah, that may be the cause. Yes, I use an external monitor too, but in vertical position, so 1080x1920, instead of 1920x1080. The problem is that the main one is the horizontal, and Frame appears there, but I guess it’s adjusted to the height of the vertical one.

[2021-09-13 22:16] omnis409 commented on #489
^ This build also fails for me in the same way.

[2021-09-14 23:50] onbjerg commented on #489
Hey, sorry I just got to this. Can you guys share your node vesions?

[2021-09-15 00:39] omnis409 commented on #489
I am using Node v16.8.0

[2021-09-15 02:58] SvenMeyer commented on #489
Not sure, but I think I had either v12.19 or v14 enabled at that time

[2021-09-15 12:52] ChristophSiegenthaler commented on #489
Had the same problem when I tried to build v0.4.4 yesterday. Will try again with v0.5.0 later once I've got time. Nodejs v16.9.1.

[2021-09-15 20:23] ChristophSiegenthaler commented on #489
[code]

Latest beta builds with the PKGBUILD above.

[2021-09-16 00:45] omnis409 commented on #489
That worked for me thanks!

[2021-09-16 09:50] ChristophSiegenthaler commented on #489
Finally got to try out frame (0.5.0-beta6) together with the updated ledger nano s firmware and could send my first ledger nano s transactions with EIP-1559. Awesome, thanks to everyone who works on frame, keep it up folks :)

[2021-09-17 04:17] onbjerg commented on #489
I can't really spot the difference between the PKGBUILD I have and the one you posted? :/

[2021-09-17 04:24] onbjerg commented on #489
Ah, I see. The difference is that you are building 0.5 - I can't release that on AUR unfortunately, I read somewhere that I am not supposed to release beta versions of software, so until 0.5 is marked as the "latest stable" release for Frame I have to go with 0.4.4. I'd still like to fix the build for you guys, though

[2021-09-17 04:40] onbjerg commented on #489
I just pushed an update to the AUR package that should ensure that you are building with the correct Node version (14 for 0.4.4), so it should work now!

[2021-09-17 06:32] ChristophSiegenthaler commented on #489
Indeed, the only change was the version. Thanks for the AUR package!

[2021-09-20 15:16] onbjerg commented on #570
I'd like to note that it does work for me on Arch with Firefox

[2021-09-20 15:28] shalzz commented on #570
Really? It doesn't work for me at all both via AppImage and built from source.
I just get a pop up of "close firefox" with this message:

[code]

This is with version `0.5.0-beta.6` on Gnome on Arch.

[2021-09-20 16:23] onbjerg commented on #570
I'm using 0.5.0-beta.6 on Arch with Firefox 92.0 and it works yeah. Does using `open https://github.com` or `xdg-open https://github.com` work for you?

[2021-09-20 16:53] shalzz commented on #570
Yes, open and xdg-open work fine on the terminal

[2021-09-20 20:32] q9f commented on #489
[code]

I think it's possible to have release channels on AUR.

Also, at this point in development, is 0.4 considered stable?

Edit: Also, what are your thoughts on using the AppImage instead of building from source? Should be fairly straight-forward :)

[2021-09-20 20:37] onbjerg commented on #489
It's considered the "stable alpha" release I guess. I could create a `frame-eth-dev` as well, good call.

I prefer building from source but I don't feel so strong about it that I wouldn't consider using an AppImage instead if a lot of people wanted that. I'm not entirely sure if I'd need to suffix `frame-eth` with `-bin` in that case though since AppImages are completely executable.

[2021-09-20 20:38] q9f commented on #489
frame-eth-dev-bin ;)

Edit: thanks for the package!

BTW, I use Arch

[2021-09-20 20:41] q9f opened #573 "Cannot add account from keystore"
OS: ArchLinux, kernel 5.14.2-arch1-2
Version: 0.5.0beta.6 (both AppImage / AUR via #489)

Selecting a keystore file on my disk works, but when I confirm with "Open" nothing happens, the file selector closes and Frame just sits at "Locating Keystore..."

There is nothing in the logs as far as I can tell ...

[2021-09-20 20:44] onbjerg commented on #489
I use Arch btw and I just published `frame-eth-dev` to AUR as well.

[2021-09-20 21:01] q9f commented on #489
Thanks! I think you will need to add a `conflicts()` array!

[code]

[2021-09-20 23:02] onbjerg commented on #489
It should already do that with `provides` I thought. I'll add it

[2021-09-27 22:19] onbjerg opened #578 "Connection super flaky"
I'm not entirely sure what is going on, but the connection between the extension and frame is super flaky on 0.5.0-beta.6.

Sometimes dapps complain that it can't get my address, sometimes the RPC hangs (no results returned to the dapp), sometimes Frame won't transmit signed transactions and sometimes Frame also just randomly crashes.

[code]

Firefox 92.0

[2021-09-30 12:46] floating commented on #578
Hey @onbjerg sorry you're running into this. We haven't experienced this ourselves, do you know of any steps we could take to try to reproduce the issue? If not could you try to reproduce the issue and grab the logs for us?  A screen cap of the behavior could help too, anything we can use to try to diagnose what's going on here and fix it. Thanks for reporting!

[2021-10-04 10:34] TripleSpeeder opened #582 "Signing a message with Lattice1 not working"
Setup:
- Running Frame-0.5.0-beta.6.AppImage on Arch linux
- Connected with Lattice1 hardware wallet

Overall Lattice1 and Frame are working fine. But there is a problem interacting with swapr on Arbitrum network (https://swapr.eth.link/).

**Steps to reproduce:**
I'm trying to remove liquidity from Swapr LP pool (https://swapr.eth.link/#/pools/0x82aF49447D8a07e3bd95BD0d56f35241523fBab1/0xdE903E27

[2021-10-04 11:02] TripleSpeeder opened #583 "Cannot sign any transaction with Lattice1 on Arbitrum"
I'm using Frame-0.5.0-beta.6.AppImage on Arch Linux

Trying to sign any transaction for the Arbitrum network with the Lattice1 signer results in the error message
[code]

In this case it was a simple ERC20 approve() call for USDT:
[code]
The same error happens for *all* Arbitrum transaction I try to sign.

[2021-10-06 12:52] Khalizo commented on #335
Hi @floating , please is there any update on this?

[2021-10-06 17:16] floating commented on #335
No updates, as I said this is because you're actually signing the message with the acting address, DAOs cannot sign messages this way. To solve this the ecosystem would need to adopt an `isValidSignature` check pattern or something else to verify signatures of acting on behalf of contract backed accounts. Until something like this is used by dapps we can't do much about it but we're happy to imple

[2021-10-10 23:04] fallowu opened #593 "balances always loading."
![image](https://user-images.githubusercontent.com/3997050/136715680-2ce8e753-450c-4c81-bddd-0530db9b10fb.png)

[2021-10-11 10:45] Hannu6 commented on #381
Same issue, as the passphrase is always used on my devices this is necessary to be able to use Frame.

[2021-10-13 11:02] gacopl opened #602 "Ability to send ETH and Tokens directly from FRAME like metamask"
The only thing keeping me from ditching metamsk completely is ability to sending from frame app transactions, not just sign but create trxns like in metamask

[2021-10-13 14:04] floating commented on #602
Hey @gacopl this is on the way, slated for `beta.8` and it's going to be cool :)

[2021-10-19 14:30] densmirnov opened #611 "Unable to Locate Aragon ENS Registry for Current Network — Aragon DAO on Polygon Problem"
When I am trying to add Aragon DAO Agent account on Polygon I am getting this error

[2021-10-25 14:48] floating commented on #611
A fix for this was released in beta.7, please let us know if you still have any issues

[2021-10-25 14:48] #611 closed, assigned to nobody

[2021-10-25 14:50] floating commented on #583
Thanks for reporting @TripleSpeeder! A fix for this has been released in [beta.7](https://github.com/floating/frame/releases/tag/v0.5.0-beta.7)

[2021-10-25 14:50] #583 closed, assigned to nobody

[2021-10-25 14:52] floating commented on #578
Hey @onbjerg, closing this for now, please try [beta.7](https://github.com/floating/frame/releases/tag/v0.5.0-beta.7) and report back if you are still experiencing issues, happy to reopen

[2021-10-25 14:52] #578 closed, assigned to nobody

[2021-10-25 14:52] floating commented on #573
Thank you for reporting! A fix for this has been released in [beta.7](https://github.com/floating/frame/releases/tag/v0.5.0-beta.7)

[2021-10-25 14:52] #573 closed, assigned to nobody

[2021-10-25 14:55] floating commented on #552
Hey @sohkai, we have moved to standardize on the most common "testnet" path across signers in v0.5+ -- we will be adding the ability to add custom derivation paths soon but until then only older version of Frame will support those testnet paths

[2021-10-25 14:55] #552 closed, assigned to nobody

[2021-10-25 15:01] floating commented on #389
Hey all, this should be fixed in [beta.7](https://github.com/floating/frame/releases/tag/v0.5.0-beta.7) please let us know if you still have any issues

[2021-10-25 15:03] floating commented on #544
A fix for this was released in beta.6, please let us know if you still have any issues, thanks for reporting!

[2021-10-26 00:18] gacopl commented on #544
Works thank you !

[2021-10-26 07:35] AJolly commented on #506
I'll also point out that frame will keep checking the status of all the networks it knows about, even if they are not active.

[2021-10-26 08:01] AJolly commented on #568
Or export our entire frame database/settings/names/rpc accounts etc :)

[2021-10-28 19:14] sohkai commented on #552
🙏 thanks for looking into it!

[2021-10-28 21:12] anukul commented on #169
@floating I would be open to implementing the solution suggested by @matkam. Go Frame!

[2021-10-28 21:25] matkam commented on #169
Please do @anukul! I had promised it for @floating a while ago but haven't been able to find the time. Here's where I left off:
You can modify https://github.com/floating/frame/blob/master/main/api/http.js#L132 with:
[code]

and https://github.com/floating/frame/blob/master/main/api/index.js with:
[code]

The idea is to either have a UI element for the user to provide a self generated cert, or som

[2021-10-31 00:08] dvncan commented on #611
I am having this same problem.

I upgraded from .6 to .7 & .8 my the application fails.

![image](https://user-images.githubusercontent.com/44993570/139561656-5c6f074d-eec5-4f8d-86a0-558efc68865b.png)

[2021-10-31 00:14] dvncan opened #623 "Error when adding Aragon smart account"
I am trying to add an Aragon Dao to my frame desktop app.

I type the name, when I select choose acting account the whole application fails
<img width="249" alt="Screen Shot 2021-10-30 at 5 12 58 PM" src="https://user-images.githubusercontent.com/44993570/139561713-1c6d1f00-c8a3-425f-8184-61920fb3497f.png">
.

I can't quit or close the application because it is not in the spotlight [no idea why it

[2021-10-31 00:25] dvncan commented on #623
the dao I am trying to add is "finntech" or finntech.aragonid.eth

[2021-10-31 03:51] danimesq opened #624 "[Question] How to call directly from an Electron app? (so no companion extension involved)"
Also, how to call it from CLI?

[2021-11-03 12:03] danimesq opened #625 "Import from keyring: Can't import geth file"
Version: 0.3.6

[2021-11-08 17:40] hah opened #627 "bitbox02 support"
completely open source hw wallet w/ a secure chip:
https://shiftcrypto.ch/bitbox02/

any plans to support this anytime soon?
thanks

[2021-11-09 11:12] gacopl commented on #602
hi @floating hmm i have beta8 but I am unable to see it

[2021-11-10 17:49] shrugs opened #628 "frame + lattice cannot sign large payloads"
I'm testing out the new `eth-safe 0.3.0` with Frame + GridPlus Lattice, but getting an issue signing a large multisend tx (4x disperse.app txs). Works just fine signing smaller payloads that the Lattice can fully display.

On my Lattice screen I get the message:

[code]

Which seems to imply that Frame is pre-hashing the typed data (which seems ok) but after approving the signature on the lattice,

[2021-11-10 18:07] shrugs commented on #628
I _have_ confirmed that the lattice itself can sign large messages by using the GridPlus metamask fork to connect to the lattice dirctly and sign a message with the mycrypto sign-message tool

[2021-11-11 07:55] sammy007 commented on #602
Seriously, please add, it's a basic feature. Can't wait for an opportunity to nuke metamask.

[2021-11-15 18:50] mholtzman commented on #582
@TripleSpeeder are you still seeing this issue in beta.8? we made some improvements to the Lattice signing flow and a few more are on the way but just want to see if this got resolved for you.

[2021-11-16 11:59] TripleSpeeder commented on #582
I just went throug the full circle of adding LP, staking, claiming, unstaking and removing liquidity. Everything worked fine with beta.8 :+1:

[2021-11-16 13:20] mholtzman commented on #582
great to hear! going to close this issue for now but let us know if you come across anything other issues signing w. the Lattice1.

[2021-11-16 13:21] #582 closed, assigned to nobody

[2021-11-17 19:58] ssteiger opened #634 "Not loading on MacOS BigSur 11.4"
<img width="397" alt="Screenshot 2021-11-17 at 20 57 45" src="https://user-images.githubusercontent.com/10925195/142273167-d1c9b33b-35fc-4600-a10c-ccd54f481dd0.png">
<img width="325" alt="Screenshot 2021-11-17 at 20 58 14" src="https://user-images.githubusercontent.com/10925195/142273237-074bf382-1f3a-42ec-a11d-d5557947838c.png">

[2021-11-21 22:40] 0xF16 opened #636 "Arbitrum/Optimism gas estimation is showing values as if it is Ethereum"
Arbitrum and Optimism integration is slightly off. It recommends in Arbitrum 90 gwei in gas while 3 should be enough as of now. Also it recommends fees in EIP-1559 format while it should be in a legacy format.
Same for Optimism, recommends ETH gas prices then they actually should be lower.

[2021-11-23 10:55] mirshko commented on #74
Would it make sense to enable Frame as a desktop based WalletConnect provider? Similar to how Encrypted Ink and others is a desktop provider, so you can use Ledger, Tresors etc through Frame via WalletConnect to skip over the injected extension need?

[2021-11-30 14:08] daveai opened #649 "EIP 1559 activation on xDai - Frame not working on xDai"
I'm not entirely sure if this is related to EIP 1559 - however, I use a Trezor model T which works great on mainnet with Frame. But when connected to xDai, while the connection to the website works, whenever there is an action that would trigger a transaction frame doesn't open. This happens both in the frame mode as well as when injecting as MM.

[2021-11-30 21:14] rxchard opened #652 "Window width isn't static"
Every time I open Frame, the width grows by a few pixels.

Frame is installed as deb package on Ubuntu 21.10. I'm using multiple screens.

Can be reproduced by simply opening and closing Frame a few times.

Version: 0.5.0-beta.8
0.4.4 does not have this bug.

[2021-12-04 20:06] john-light opened #660 "Getting "replacement fee is underpriced" error when trying to speed up txs"
When I am trying to speed up a tx on Ethereum, I am getting an error in Frame "replacement fee is underpriced" and it doesn't send the tx. However the base fee set on the replacement was actually higher (by a lot) than the current base fee shown on https://watchtheburn.com.

In any case, I don't like the signing interface policing the gas price I set: if it's too low, then I will speed it up, I do

[2021-12-04 20:17] floating commented on #660
Hey @john-light! This error actually comes from the Ethereum node not from Frame. I believe the replacement fees need to be 10% higher to avoid this response. In v0.5.0-beta.9, which should be out very soon we've added this case to our gas calculator so that replacement txs will automatically be given a 10% buffer over the tx they are replacing. If the fees are below this threshold, we show a badg

[2021-12-06 19:56] john-light commented on #660
@floating thanks for the info! That sounds like a reasonable solution.

[2021-12-08 20:48] msvab opened #664 "Crash when signing message with Trezor"
When I'm trying to connect to the ZigZag exchange (https://trade.zigzag.exchange/) the exchange requests a message to be signed. Upon hitting the "Sign" button it immediately crashes. I'm using Trezor T wallet. Found the following error in logs:

[code]

Happy to provide more info.
❤️ Frame

[2021-12-09 02:33] mholtzman commented on #664
can you provide some more info about what version of Frame and Trezor you're using, as well as what chain you were on and any other info you think might be useful to reproduce this? I tried it out and was able to sign the message alright on Mainnet and Rinkeby using Frame beta.8.

[2021-12-09 08:05] msvab commented on #664
It was on mainnet. Using Frame 0.5.0-beta.8 and latest Trezor firmware 2.4.3 (but it also happened on the previous 2.4.2).

[2021-12-09 17:35] msvab commented on #664
Weird, today it worked 🤷‍♂️

[2021-12-10 09:40] xastor opened #666 "Unable to vote on snapshot.org using Trezor T"
When trying to send a vote, I get this error in the console :

`Trezor does not support eth_signTypedData`

After reading around, it seems that the Trezor T wallet itself needs to implement support for EIP712 for this to work.  To my big surprise, a new firmware for Trezor T was released yesterday, which is [said to have support for EIP712](https://github.com/trezor/trezor-firmware/blob/core/v2.4.

[2021-12-10 11:28] daveai commented on #649
Solved in latest release

[2021-12-10 11:28] #649 closed, assigned to nobody

[2021-12-10 17:23] xastor commented on #666
I have been able to work around my issue after reading the discussion here : https://github.com/snapshot-labs/snapshot/discussions/1189.  After re-connecting using "Trezor (using metamask)" I was able to vote.

[2021-12-11 15:55] rxchard commented on #652
This issue is related to text/screen scaling as it doesn't occur when I set font scaling to 1.00 using gnome-tweaks.
Related: https://github.com/electron/electron/issues/9477

I'll work on a workaround

[2021-12-11 19:41] floating commented on #652
Thanks for trying to tracking this down and provide a fix!

[2021-12-14 15:18] xtc0r opened #670 "Frame (0.5.0-Beta.9) crashes (Win10)"
Since today my **Frame 0.5.0-Beta 9** crashes after 1-2mins. I see in the resource monitor how RAM and CPU usage jumps up and after some more time it gets shutdown. I tried to close the browser to rule out it is caused by same dapp. But also with closed browser it crashes. I'm using Beta 9 since release date. This behavior is new.

![image](https://user-images.githubusercontent.com/36508484/146025

[2021-12-15 07:56] msvab commented on #664
Today I had a crash when signing again, this time on Zapper (frame 0.5.0-beta9). Here are the logs that preceded it:

[code]

[2021-12-17 19:42] xtc0r commented on #670
It crashes regularly for me and I had to switch back to metamask. Please let me know which additional information I can provide to narrow down the issue and resolve it. I liked frame so far and supported in gitcoin as well. I hope we can manage to tackle this issue.

[2021-12-20 18:29] maximedotair opened #674 "History / Log of transactions"
I use frame on mac, I would like to know if there is a log of all the transactions I made through frame somewhere? Thanks

[2021-12-28 18:02] jopletsch opened #676 "Restart needed to connect Trezor"
After having Frame open for a certain amount of time (1h approx.) or after resuming the system from suspend, a Trezor that is connected can not be recognized by Frame. Other applications see the Trezor as properly connected and can interact with it. There are no entries in the logs that indicate some kind of interaction with the device.

The only way to resolve the issue is to quit Frame and reope

[2021-12-29 17:23] reednaa opened #679 "Frame does not work on Kovan network"
All calls fail with the error message: `Cannot read properties of null (reading 'maxPriorityFeePerGas')`

Tested with transferring Kovan ETH and calling contracts. Both fail with same error message. Explicitly setting maxPriorityFeePerGas in ethers.js does not work.

Contrary to what the message might make one believe, one can query maxPriorityFeePerGas and get a valid result.

How I replicate:
Go

[2022-01-04 11:47] fabioberger commented on #602
Any update on this @floating?

[2022-01-05 06:14] aquaticone opened #685 "allow multiple derivation paths to be in use at once"
I'm using a GridPlus device and have accounts from multiple derivation paths. I'm not able to sign transactions on all of my accounts without going into settings and manually changing derivation path for the GridPlus device.

Is it possible to enable multiple derivation paths at once? If not, would a feature be possible where derivation path is automatically changed based on the account you open?

[2022-01-05 20:51] #685 closed, assigned to nobody

[2022-01-07 15:48] 0xt3rtium commented on #676
Same thing happens with Gridplus Lattice.

[2022-01-07 15:49] 0xt3rtium commented on #488
Noticed that as well, but realized that `ALT + -` works for my key mapping.

[2022-01-07 15:58] 0xt3rtium commented on #169
Is that really the right way to go? Ability to swap out certificate seems like a potential vector for users to get rekt.

Did anyone verify if latest Safari is still affected? Guessing from [webkit bug 171934](https://bugs.webkit.org/show_bug.cgi?id=171934) it was a deliberate decision though to not allow it.

[2022-01-08 13:36] dmihal commented on #666
I believe Frame needs to add an update to add support for EIP-712 on the Trezor T. Maybe this should be added in a separate issue

[2022-01-11 07:20] mohamedmansour commented on #136
@schmidsi  the latest trezor update has EIP712  which implemented eth_signTypedData, but frame doesn't recognize it, are there ways we can help test/debug?

[2022-01-16 18:50] CucurbitBaby commented on #136
Is "web3.eth.signTransaction" useless ?

[2022-01-16 18:50] CucurbitBaby commented on #129
Is "web3.eth.signTransaction" useless ?

[2022-01-16 18:58] CucurbitBaby commented on #129
"web3.eth.accounts.signTransaction" is ok!  oh shit

[2022-01-17 09:03] shalzz commented on #570
This seems to have been fixed with either the latest version of AppImage and/or chrome (Just tried again with beta.8 without the setting the above env vars )

[2022-01-25 03:46] kur0 opened #709 "Frame 0.5.0-beta.10 abnormal cpu usage even when idle"
on Windows10 19043.1288
![image](https://user-images.githubusercontent.com/1430075/150906979-677ed5d6-467f-4fb9-a4b9-910253710ce5.png)
(Sorry for the Japanese display)

on my friend's Macbook Air and can feel the heat on the aluminum body :)
![image](https://user-images.githubusercontent.com/1430075/150907099-3c26f0c2-3aaf-47b8-8936-1399bae00341.png)

frame did not use this much in previous versio

[2022-01-25 06:29] sammy007 commented on #709
I second it (on OSX). It's impossible to use it. Broken.

[2022-01-25 16:25] yuradmt commented on #709
Third. Experiencing the same problem

[2022-01-25 16:37] DimitarNestorov commented on #709
I can confirm as well (macOS)
![image](https://user-images.githubusercontent.com/8790386/151019434-7df9b9ce-23d0-4511-b2bc-b68979045fc6.png)

[2022-01-25 18:14] floating commented on #709
Thanks for reporting -- we're working on a fix that should be our shortly.

[2022-01-26 00:05] floating commented on #709
This should be fixed in [beta.11](https://github.com/floating/frame/releases/tag/v0.5.0-beta.11), please try it out and let us know if you still have any issues!

[2022-01-26 00:05] #709 closed, assigned to nobody

[2022-01-26 06:02] shalzz commented on #489
Is it just me or does all versions of frame after beta.8 hang and crash after heap overflow within 5-10 mins of launching the app on linux?

This is the log I got after building a debug version:
[code]

[2022-01-26 06:18] fmoledina commented on #489
@shalzz, not to self-promote too much, but consider the AppImage AUR package that I'm maintaining: [frame-eth-dev-appimage](https://aur.archlinux.org/packages/frame-eth-dev-appimage/). It's pretty stable on my machine.

[2022-01-26 18:01] antonio-fr commented on #709
I faced the exact same issue. Seems to be fixed in the beta11 version.

[2022-01-31 09:26] kevin-sakemaer commented on #65
Would be great to have Flatpak support :)

[2022-02-04 01:37] goosewobbler commented on #169
@matkam just a thought, could it be possible to use HTTPS with a generated cert by default for all browsers?  That way you don't necessarily need any more UI just for the Safari case.

EDIT: on second thoughts that approach might be just adding a lot of scope for cert errors and l was also assuming cert generation could be automated via mkcert, which looks unlikely.  I might poke around at this is

[2022-02-05 04:31] matkam commented on #169
@goosewobbler I think requiring cert generation would add too much extra friction for most users, though it could add a bit of extra security. It could be a good idea to have it be an option for all browsers, and required for Safari.

[2022-02-05 19:15] goosewobbler commented on #169
I did a quick mockup of what the UI might look like:
![Frame Protocol Proposal drawio](https://user-images.githubusercontent.com/432005/152655428-7bacd35d-9c2e-48f4-a517-747437128601.png)

Considering using these two packages and assuming the user has openSSL installed:
https://github.com/lspiehler/node-openssl-cert
https://github.com/cmr1/node-ssl-validator

[2022-02-05 20:03] goosewobbler commented on #169
I did a quick mockup of what the UI might look like (this is in the settings panel):

![Frame Protocol Proposal drawio](https://user-images.githubusercontent.com/432005/152657053-a3d83e07-9504-49ce-9acb-d82df52a04e1.png)

Considering using these two packages and assuming the user has openSSL installed:
https://github.com/lspiehler/node-openssl-cert
https://github.com/cmr1/node-ssl-validator

[2022-02-05 20:21] yura-pakhuchiy opened #725 "Snap version outdated"
https://snapcraft.io/frame still on 0.3.6

[2022-02-05 20:23] yura-pakhuchiy opened #726 "Signed sha256 sums for release files"
Please provide sha256 sums for release files signed by the developers

[2022-02-05 20:24] yura-pakhuchiy opened #727 "Reproducible builds"
It would be great if users could build frame themselves and verify that binary matches file from official release.

[2022-02-08 16:15] lildata commented on #624
Seems like the magic happens there `ws://127.0.0.1:1248`
https://github.com/floating/frame-extension/blob/5b984364a364f1ed93106cea62c74503a3a1e364/src/index.js#L4

[2022-02-08 19:22] floating commented on #624
Yes, Frame exposes [JSON-RPC](https://eth.wiki/json-rpc/API) endpoints `http://127.0.0.1:1248` and `ws://127.0.0.1:1248`

If you're in a node.js or browser environment can use [eth-provider](https://github.com/floating/eth-provider) to manage this connection for you with an [EIP-1193](https://eips.ethereum.org/EIPS/eip-1193) interface.

[2022-02-08 19:22] #624 closed, assigned to nobody

[2022-02-08 22:12] mholtzman commented on #664
this was fixed in beta.12, error messages are now reported correctly

[2022-02-08 22:12] #664 closed, assigned to nobody

[2022-02-11 00:55] goosewobbler commented on #169
Started looking at this, draft PR [here](https://github.com/floating/frame/pull/733), can discuss any implementation details there.

[2022-02-21 09:21] lovepupils commented on #381
Hello, any news about this?
It is of utmost importance for security reasons.

[2022-02-21 15:37] danimesq commented on #624
@floating
Instead of the curl RPC call forcing the client (Frame) to sign a message, how to prompt it to open the signature UI so user decides wether to sign or not?

https://eth.wiki/json-rpc/API#eth_sign

[2022-02-22 17:03] PhiMarHal opened #746 "Option to add account is gone after removing the only account"
After adding an account on a fresh installation of 0xFrame, then removing that account, the banner to add accounts on top is gone until Frame is closed and reopened.

[2022-03-01 05:25] D4nte opened #752 "error: cannot find signatures with metadata for snap"
When trying to install the latest snap, downloaded from GitHub releases:

[code]

I am guessing signatures should be added/provided for the snap to enable a safe installation.

## Workaround

Use `--dangerours`:

[code]

[2022-03-01 19:23] reednaa opened #753 "Frame randomly crashes with: "An error occurred, Frame will quit. Channel closed""
Frame crashes after being open for about 15 seconds.
Sometimes it takes more time but usually it happens quite quickly. It is very likely to be a result of the recent update as it didn't occur before.

Versions
- Frame: v0.5.0-beta-13
- OS: macOS 12.2.1

[2022-03-08 10:17] Sigri44 commented on #753
Hello,

I have same random error.

It's on ARM M1 too ?

[2022-03-08 10:19] reednaa commented on #753
My cpu is: Apple M1 Pro.

[2022-03-09 15:47] topocount opened #757 "Missing token logo assets in latest release"
I'm trying to package frame for ArchLinux but I'm missing the token art in the balances view when building locally. What step am I missing here?

I'm very excited to use https://github.com/floating/frame/tree/v0.5.0-beta.13 over the beta 9 build because of the native send functionality.

[2022-03-09 15:48] topocount commented on #757
cc @onbjerg

[2022-03-10 03:28] #570 closed, assigned to nobody

[2022-03-16 20:20] aerth opened #758 "got ratelimited by coingecko (cloudflare) and then crashed out of memory"
first it was acting weird (not popping up tx when i click swap for example) so i looked at the logs and its coingecko,
[code]
so i opened the endpoint in browser and got it with this

![image](https://user-images.githubusercontent.com/6263105/158682771-bd9a0326-0fa0-4483-a57c-2282602e80bb.png)

THEN i disabled mainnet and all the other networks than the network i am testing on (mumbai) and then it

[2022-03-17 16:25] floating commented on #758
Thanks for reporting @aerth! We will be removing coingecko calls in the next release to solve this

[2022-03-23 09:38] 0xF16 commented on #676
Experiencing the same issue since a long time, but on Windows 11. I'll try to see if MacOS is also affected. I have found it occurring after I suspend my machine while having Frame running in the background.

[2022-03-23 10:19] TripleSpeeder opened #763 "Decimals truncated when sending funds, resulting in wrong amount being sent"
Observed with Frame v0.5.0-beta.13 on Linux.

Reproduce:
1. Click SEND
2. Select token (i used DAI)
3. Enter recipient address
4. Enter amount with maximum number of decimals (18 for DAI), e.g. 12.123456789012345678
5. Press Enter

Result:
Confirmation screen shows two different (wrong) amounts:
- The headline of confirmation screen truncates (or rounds down?) the amount to `12.12345678901`.
- The

[2022-03-25 04:48] kur0 opened #764 "Incorrect nonce error on Aurora (EVM on NEAR)"
![image](https://user-images.githubusercontent.com/1430075/160056101-ef69644d-52a1-4109-be61-03c613ab1908.png)
In many cases the incorrect nonce error displayed but in fact tx had been approved.
For this sample I had deposited in to bastion https://app.bastionprotocol.com/

Inject as Metamask instead of Frame seems to fix the issue

[2022-03-29 10:30] goosewobbler opened #766 "Deb package description typo"
![unknown](https://user-images.githubusercontent.com/432005/160592037-7440f065-6a1c-4ff2-8898-053725a085c6.png)

Likely fixed by `electron-builder` update to v23
https://github.com/electron-userland/electron-builder/issues/3523

[2022-03-31 09:27] 0xF16 opened #767 "Display signing message in Frame whilst signing on wallet"
As Web3 apps are now getting traction and login with Web3 wallet is becoming slowly a thing, I'm thinking if some small change wouldn't improve the security of the whole log-in flow/transactions. The thing is, that many apps use "signing message" mechanism to authenticate a user - either to log in, or to do meta-transactions. The flow is fine while we use an account that Frame is having the privat

[2022-04-05 12:35] goosewobbler commented on #169
Thought I'd update this ticket, after trying a few things the proposed implementation has changed a fair bit and we're now looking at a UI-less approach using our own cert generation service to provide clients with self-signed certs, which avoids the problem of users having to manage Frame access to openSSL or us having to do something crazy like bundle mkcert. The idea is to have wss via self-sig

[2022-04-05 13:28] goosewobbler opened #771 "Polygon - fee monitor occasionally drops to 1 gwei"
Reproduced on MacOS. Causes stuck transactions as the recommended value normally hovers around 30 gwei.

Likely cause:
Some polygon validators never raised the minimum gwei to 30 as suggested by polygon. When it defaults to 1 gwei, it might be because the current selected validator still uses a 1 gwei minimum.

We might want to make our own minimum fee for Polygon set to 30 which overrides any low

[2022-04-05 15:31] bingen opened #772 "Alt + / summon shortcut not working on KDE"
I’m using linux with KDE and `Alt + /` default summon shortcut is not working for me. I haven’t been able to identify any other app that may be overlapping it.
Anyway, it would be nice if it was possible to choose a custom one.

[2022-04-07 16:38] Sigri44 commented on #758
@aerth i think i have same problem. How can i have logs/crash report access please ?

[2022-04-11 04:28] lhl opened #781 "Out of Gas errors on transactions: estimation Safety Factor needed for eth_estimateGas() results?"
Hi, I've noticed that sometimes I get "Out of gas" errors on Frame.sh that don't ever happen when using other wallets. I believe this is because Metamask adds a safety factor to eth_estimateGas() estimates but maybe Frame.sh doesn't? Is there anyway to add a default additional safety buffer (maybe 25% or 50%)?

Rabby and Metamask I believe use `1.5 * result of web3.eth_estimateGas()`: https://gith

[2022-04-11 18:46] suhr opened #783 "`npm install` fails"
[code]

OS: NixOS.

[2022-04-11 18:57] floating commented on #783
Hey @suhr, thanks for reporting -- you'll need to use `npm run setup` instead, we will update the readme to reflect this.

[2022-04-11 18:57] #783 closed, assigned to nobody

[2022-04-12 02:01] yolobit commented on #781
Here's where metamask does it as well, just for ethereum. https://github.com/MetaMask/controllers/blob/365191875a22ab5c94d81b464734e8adff7dbad3/src/transaction/TransactionController.ts#L995-L1008. I've lost a few ETH transactions fees due to this as well and would love to see it fixed.

[2022-04-12 09:27] SelimTavukcuoglu commented on #623
I have the same problem. Is there any solution or fix ?

[2022-04-13 00:50] #757 closed, assigned to nobody

[2022-04-13 23:37] john-light opened #787 "Allow user to enter arbitrary derivation path to use for generating addresses"
There are lots of scenarios where a user might need to use a derivation path that is "non-standard", or at least not in the current default list of derivation paths available for each wallet (e.g. #466 or how RSK uses `m/44'/137'/0'/0/N` [per EIP-1911](https://developers.rsk.co/rsk/architecture/account-based/)). Rather than individually add every weird derivation path as users request them, you co

[2022-04-13 23:51] john-light opened #788 "Give users the option to disable connections to third-party services"
Currently when the user opens Frame, even if they have Frame configured to use their own full node to fetch their balances, connections are [still made to third-parties](https://github.com/floating/frame/tree/0.5/main/externalData) e.g. to check the user's NFT inventory. This sends these third-parties a ping, which at a minimum lets them know that someone who is most likely the owner of this addre

[2022-04-13 23:55] john-light opened #789 "Ledger connection is not working when connecting using the Ledger RSK app"
I tested using Frame with the RSK app on a Ledger Nano X and it gives an error message `Please reconnect this Ledger device`.

I would like to have the ability to connect to Frame using the Ledger RSK app instead of the Ethereum app, since RSK is a different chain. I also think it will be less confusing to other users to use the RSK app to connect to the RSK chain, even though both Ethereum and RS

[2022-04-16 13:07] SelimTavukcuoglu opened #796 "Error: sendAsync Error: eth_getLogs and eth_newFilter are limited to a 10,000 blocks range"
Hello all, thank you a lot for your awesome work!

I try to add a smart account (Aragon DAO on Polygon) but Frame crash when I try to select the acting account.

After trying to debug, I figured out that the error thrown is :
[code]
Can somebody fix this or tell me where I can check the source code to fix it my self ?

[2022-04-19 09:15] Sigri44 opened #800 "Could not fetch ENS names Error: network does not support ENS"
Go to : https://app.jarvis.exchange/
Sign in
Bug

Error :
Could not fetch ENS names Error: network does not support ENS (operation="lookupAddress", network="matic", code=UNSUPPORTED_OPERATION, version=providers/5.6.1)

![image](https://user-images.githubusercontent.com/9304947/163971554-dff87785-8032-40f9-8ff5-9d770a8b5b62.png)

[2022-04-19 13:10] anon238 opened #801 "Frame keeps crashing/closing. I have to manually start and after a few minutes it's forced closed again."

[2022-04-19 13:10] anon238 opened #802 "Polygon doesn't work with Ledger"
I didn't test it without a Ledger, but it's not working. Signing transactions are never sent to the device.

[2022-04-19 13:15] anon238 commented on #602
I really loved the app but support is really horible. In their Discord group they are also quite arrogant.

[2022-04-19 13:17] anon238 opened #803 "NFT inventory always empty"

[2022-04-19 13:22] anon238 commented on #800
Because you cannot resolve ENS names on Matic lol

[2022-04-19 13:23] floating commented on #602
@anon238 Please DM me any examples of this on Discord, we're a small team so it was likely another community remember responding to your questions.

Also closing this issue as this functionality is now in Frame

[2022-04-19 13:23] #602 closed, assigned to nobody

[2022-04-19 13:29] anon238 commented on #602
I'm pretty sure those three where mods, anyways I deleted everything and exited the group. No help at all and handy to other users. I LOVE the app, I came just to give my compliments, but no sorry not again in that group.

[2022-04-19 13:45] floating commented on #803
Fixed in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:45] #803 closed, assigned to nobody

[2022-04-19 13:45] floating commented on #801
This should be fixed in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:45] #801 closed, assigned to nobody

[2022-04-19 13:47] floating commented on #781
Thanks for reporting, we added a 50% buffer to the gas limit in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:47] #781 closed, assigned to nobody

[2022-04-19 13:48] floating commented on #758
This has been fixed and these calls have been removed in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:48] #758 closed, assigned to nobody

[2022-04-19 13:49] floating commented on #753
This should be fixed in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14) please let me know if you still have any issues.

[2022-04-19 13:49] #753 closed, assigned to nobody

[2022-04-19 13:50] floating commented on #679
This should be fixed in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:50] #679 closed, assigned to nobody

[2022-04-19 13:51] floating commented on #670
This should now be fixed in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)! Let us know if you still run into any issues.

[2022-04-19 13:51] #670 closed, assigned to nobody

[2022-04-19 13:52] floating commented on #593
This should be fixed now in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:52] #593 closed, assigned to nobody

[2022-04-19 13:53] floating commented on #506
This should be fixed now in [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:53] #506 closed

[2022-04-19 13:53] anon238 commented on #801
You rock! Should I reinstall from here or does it automatically update? I don't see anywhere such option.

Nevermind, I already found out by restarting haha.

[2022-04-19 13:55] #137 closed

[2022-04-19 13:57] floating commented on #365
Tx crafting now included

[2022-04-19 13:57] #365 closed

[2022-04-19 13:57] floating commented on #381
This has been added, please check out [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 13:57] #381 closed

[2022-04-19 13:58] floating commented on #660
This has been fixed, please let us know if you still have any issues.

[2022-04-19 13:58] #660 closed, assigned to nobody

[2022-04-19 14:01] floating commented on #726
You can find a base64 encoded sha512 for each release in the `.yml` file for that platform [v0.5.0-beta.14](https://github.com/floating/frame/releases/tag/v0.5.0-beta.14)

[2022-04-19 14:01] #726 closed, assigned to nobody

[2022-04-19 14:02] floating commented on #763
Thanks again for reporting @TripleSpeeder, this has been fixed and deployed.

[2022-04-19 14:02] #763 closed, assigned to mholtzman

[2022-04-19 14:06] EroticKlaxon opened #804 "Frame should remember which chain to use for a given dApp"
It would be fantastic if Frame remembered which chain I wanted to use for a particular dApp.

[2022-04-19 14:08] anon238 opened #805 "Add the ability to hide tokens in a given account"

[2022-04-19 14:23] anon238 opened #806 "Weird display glitch after latest build"
If you click on a window and then hover to the side it shows a weird bug. If you hover away but not clicking on anything and then try to hover again then there are no glitches, only when switching window.

[2022-04-19 14:54] yura-pakhuchiy commented on #726
And where can I find GPG signatures for these .yml files? This issue is about verifying that releases are indeed coming from developers and not tampered by any third party, just checksum in some not signed file does not really help.

[2022-04-19 14:58] floating commented on #806
Hey @anon238 could take a screen cap this behavior? What platform is this? We're trying to reproduce on our side but haven't been able to.

[2022-04-19 14:59] anon238 commented on #806
one sec

[2022-04-19 15:02] yura-pakhuchiy commented on #726
Or alternatively sign every release file and provide this signatures. Look for example how geth https://geth.ethereum.org/downloads/#openpgp_signatures is doing. For every X.tar.gz, they provide X.tar.gz.asc which is a GPG signature from developers which confirms authenticity.

[2022-04-19 15:04] anon238 commented on #806
https://videos.tempfiles.cc/watch/c3Tir5KtDo @floating

[2022-04-19 15:10] Sigri44 commented on #800
But I don't have an ENS, and Jarvis has always worked (professional use), and since beta 13 impossible to use this service (ok via Metamask).

[2022-04-19 15:12] anon238 commented on #800
It's saying that the network you currently on which is Polygon doesn't support ENS domains, which is logic. Change your network and it should work.

[2022-04-19 15:33] anon238 commented on #806
let me know if you need my help with anything else @floating

[2022-04-19 15:39] floating commented on #806
thank you!

[2022-04-19 16:38] anon238 opened #807 "Feature request: arrange wallets order"
Would be nice if you can arrange wallets so you can sort it :)

[2022-04-19 17:02] eccentricexit opened #808 "Feature request: Allow viewing/copying long URLs in connection request."
I got this weird looking URL which would immediately make me want to deny it:

![Screenshot from 2022-04-19 13-59-20](https://user-images.githubusercontent.com/9872474/164056774-67092c5c-0144-4b90-b375-5b3dacf2e3bf.png)

However, it comes from a famous project, so I'd like to investigate what it is.

Unfortunately there is currently no way to see the entire URL.

*Suggestion: allow copying the URL

[2022-04-19 17:11] Sigri44 commented on #800
I understood well but Jarvis being on Polygon, and having always functioned thus I do not understand your proposal which is not useful in my case.
The fact of having this error obviously prevents the site from accessing the account balances, which was not the case with beta 12, and works with Metamask/xDefi via Polygon, so the solution is not viable.

[2022-04-19 17:13] anon238 commented on #800
ah! not aware of that, just looked at the code, i don't use jarvis. there is however a new update being pushed just today did you restarted frame?

[2022-04-19 19:11] anon238 commented on #806
damn dude you are faster than sonic, thanks for the quick fix. @floating

[2022-04-19 19:15] anon238 opened #810 "Very rare bug: Long address with some sites."
I don't mind because I know which website it was, but maybe you still want to know.

![image_2022-04-19_211325827](https://user-images.githubusercontent.com/76251639/164078496-b7561e19-97be-4795-b249-50897709b4df.png)

[2022-04-19 19:16] anon238 commented on #806
Ah shit it came back! It was not directly after restart, but think after a few mins.

[2022-04-19 19:26] floating commented on #810
Hey @anon238 that is actually a bug we found in beta.14 where it was picking up the extension id rather than the app origin. You can fix by updating to [beta.15](https://github.com/floating/frame/releases/tag/v0.5.0-beta.15) and clearing those permissions

[2022-04-19 19:26] #810 closed, assigned to nobody

[2022-04-19 19:29] floating commented on #808
Hey @eccentricexit this is a bug we found in beta.14 using Frame with Firefox where it was picking up the extension origin id rather than the app's origin. You can fix by updating to [beta.15](https://github.com/floating/frame/releases/tag/v0.5.0-beta.15) and clearing those permissions -- sorry about that.

We will add to the list that users should be able to copy these addresses either way, but i

[2022-04-19 19:29] #808 closed, assigned to nobody

[2022-04-19 19:48] anon238 commented on #806
I found out that it's when you click on an empty space in frame and then switch to another window. If you just hover without clicking than I don't have this.

[2022-04-19 19:54] eccentricexit commented on #808
Damn that was fast. Awesome.

[2022-04-20 06:55] Sigri44 opened #812 "Error after sleeping"
Hello,

With the new latest update, after sleeping :

![image](https://user-images.githubusercontent.com/9304947/164168576-1dda1b8b-87af-4f90-8912-ce2b96d2d292.png)

Thx.

[2022-04-20 06:56] anon238 opened #813 "Total costs"
Please show a total costs (with gas fees).

[2022-04-20 16:59] anon238 opened #815 "Gas fees are higher than MM"

[2022-04-20 17:24] floating commented on #813
Hey @anon238, please give more details here

[2022-04-20 17:27] floating commented on #815
We currently show the max possible fee, including all safety buffers, the fee actually paid should be much lower. We are working on the tx fee ux to better reflect this.

[2022-04-20 17:27] #815 closed, assigned to nobody

[2022-04-20 17:27] floating commented on #812
Thanks for reporting, we're working on a fix for this

[2022-04-20 17:30] anon238 commented on #813
You can't see the total costs included with the gas fees. or i'm not looking good haha

[2022-04-21 14:40] goosewobbler commented on #806
@anon238 I can't reproduce this in Win10, will spin up a VM to try Win11

[2022-04-21 19:07] SebOnGH opened #816 "Opera + Frame not connectiing to dapp anymore ?"
Hi,

Since a week from now, I'm unable to connect to dapps like Sushiswap, QiDao or Beefy (on polygon or fantom network).
On GotchiVault it still works (injecting as MM).

I'm using Opera Browser v 85.0.4341.75 and Frame 0.5.0 beta.15...

Example :
![image](https://user-images.githubusercontent.com/63614950/164534986-32995e98-d6f2-413e-8ad1-f625914ed8e8.png)
![image](https://user-images.githubuser

[2022-04-21 21:00] Sigri44 commented on #812
Same on MacOS :

![image](https://user-images.githubusercontent.com/9304947/164551509-4cadfe10-ae8f-4288-9f75-e6a254d4c1ae.png)

[2022-04-22 12:59] anon238 opened #817 "Add support for Ledger Nano X through Web Bluetooth API"
People will move from MM to Frame if this is going to be implemented. People are asking to them since 2019 for this to be implemented.

[2022-04-22 14:15] jmhickman commented on #806
I've seen this on my system as well. Very fast flicker as shown in the video. Windows 11, AMD GPU.

[2022-04-22 14:23] jmhickman opened #818 "[Feature Request] Have Frame respect maxFeePerGas and maxPriorityFeePerGas on supplied txn"
Currently, Frame places gas information into a pending transaction based on gas metrics it derives itself. For certain uses (such as scripts and dapps) it would be beneficial for Frame to place the supplied values for transactions.

[2022-04-22 17:07] floating commented on #806
@jmhickman @anon238 Are you running on multiple monitor setups when this happens?

Also, does this only happen when using the glide feature?

[2022-04-22 17:13] anon238 commented on #806
No just a crappy laptop. It’s only when using the glide feature.

[2022-04-22 17:16] floating commented on #806
Thanks for the info @anon238, we're looking into it.

[2022-04-22 17:55] jmhickman commented on #806
Yeah, single monitor here. I see the issue as well when Frame is open or closed, and a transaction comes in to sign. I see the flicker and then the Confirm dialog appears.

[2022-04-22 17:57] jmhickman commented on #806
Oof, I neglected a detail. No, I'm not running multiple monitors, but I AM using Window's virtual desktops ("Task Views") feature. I have three desktops.

![image](https://user-images.githubusercontent.com/6581761/164769291-2b4b43f8-996d-4d57-a589-d93d4f38eca0.png)

[2022-05-04 07:48] juanmacarrillo opened #827 "Bug. ERROR:sandbox_linux.cc(377)] InitializeSandbox() called with multiple threads in process gpu-process."
Same error running the snap and the AppImage.

I tried adding `--disable-gpu`, but same results.

Frame version: 0.5.0-beta.18
PC info: Linux localhost.localdomain 5.17.4-1-default #1 SMP PREEMPT Wed Apr 20 07:43:03 UTC 2022 (75e9961) x86_64 x86_64 x86_64 GNU/Linux
Distro info: openSUSE Tumbleweed, Release: 20220502

I can submit more hardware/software details if needed.

[2022-05-05 06:05] RND332 opened #828 "Fantom Opera + Frame gas"
Sometimes the gas price in Fantom Opera rises above 10000, but frame does not allow you to set the price above 9999. Maybe remove this restriction or add the ability to disable it?

[2022-05-06 17:03] jmhickman opened #832 "Allow configuration of transaction card expiry time"
![image](https://user-images.githubusercontent.com/6581761/167178748-710aebfe-142b-468a-b625-2d37ba65fec4.png)

This is a shot of my local Ganache node, and two completed transactions. I don't know why Frame would continue to make that `eth` call once the UI has updated and shown the transactions to be complete.

Possibly related, the arrows that progress from left to right along the top of the tr

[2022-05-06 19:17] canselcik opened #833 "Wrong password on occasion"
On occasion even though I am 100% certain the correct password is entered, I am told the password is incorrect.

Tried pasting it into the field, tried counting the number of characters, manually entering. It is just this sporadic incident that I can't seem to be able to correlate with anything.

In the absence of past issues mentioning this, has anyone experienced this? Using latest version on OS

[2022-05-06 22:06] jmhickman commented on #832
The cards will continue to stack up basically forever
![image](https://user-images.githubusercontent.com/6581761/167222205-530a0ac2-571b-43e4-9724-22f6378c3cac.png)

Frame crashed shortly after this screen was taken. Nothing interesting in the log for the crash, just some complaints that the ganache endpoint doesn't support subscriptions.

[2022-05-10 09:45] antonio-fr opened #834 "Displays extension id instead of domain"
Looks like #810 is back in alpha-18 ?

![image](https://user-images.githubusercontent.com/7551901/167600094-3af69d73-f61b-4590-b210-212e989ecd6b.png)

This happens at least when developing a dapp and using 127.0.0.1:3000.
May be related to http (non-https) ?

[2022-05-10 10:17] antonio-fr opened #835 "Approval revocation message is wrong"
Adding Frame compatibility in [DappsProtect](https://dappsprotect.com), we noticed the transaction query message says the call is to approve the spending of a token, whatever the amount. When the amount is requested to be 0, this is a revocation of the approval, not a approval to spend.

Here's an example of a "zero approval" revocation of USDC for 1inch :
![image](https://user-images.githubuserco

[2022-05-10 10:23] antonio-fr commented on #834
I confirm the issue on :

- Windows 10
- Chrome 99.0
- Frame v0.5.0-beta.18
- Frame Chrome extension 0.7.5

Even on a https://.com domain and various DeFi dapp, the only permission displayed is the id of the extension.

[2022-05-10 10:40] antonio-fr commented on #835
Here's an example of this exact same tx, using a competitor web3 wallet software. It displays clearly this is a transaction to "cancel approval".

![image](https://user-images.githubusercontent.com/7551901/167610573-98594f20-1afc-45f1-990b-c59ab6f25f57.png)

[2022-05-12 15:30] floating commented on #835
Thanks for reporting @antonio-fr, we'll be sure to fix this.

[2022-05-12 20:02] ghost opened #838 "Frame crashes after being hidden in i3-gaps"
I will admit my dev machine is kinda a-typical, but perhaps there is still some solution here.

* Frame: 0.5.0-beta.18
* NixOS 21.11
* i3 version 4.20 (2021-10-19)

**Repro**:

1. Run wallet with `./frame` from terminal
2. When the wallet appears, close the window
_OBSERVE_: Frame's icon is in the top-right systray I have setup
3. Click the systray icon to re-open Frame

**Expected**:
Frame opens

[2022-05-12 20:18] ghost opened #839 "On re-focus of the Frame window, it forces itself to floating and snaps to right-side of screen in i3-gaps"
**System Info**:

- Frame: 0.5.0-beta.18
- NixOS 21.11
- i3 version 4.20 (2021-10-19)

**Repro**:

1. Open frame
_OBSERVE_: By default the window is snapped to the right side of the screen, and "floating" in i3 terms (it can be dragged around the screen and not locked to a position)
2. Change window from floating to fixed, or drag the window somewhere else
3. De-focus the Frame window
4. Re-focus

[2022-05-15 13:51] #297 closed

[2022-05-16 15:50] waokdalf commented on #788
Is frame open source?

[2022-05-16 16:40] anon238 opened #842 "Cannot read properties of undefined (reading 'balances')"
![image](https://user-images.githubusercontent.com/76251639/168641599-d907f565-0d72-4042-b252-18b31d8c48c5.png)

I have this recently on beta 18. I did a reset and a re-install, currently have one wallet added but this keeps coming randomly.

[2022-05-16 16:43] anon238 opened #843 "Option to use Frame with allow list."
I'm using different browsers and different wallets. I see with the browser I normally use without the frame extension that frame.sh can recognize it without having the extension. I know this is by design because it's system-wide but I would love to see an option to use Frame for one browser so that dApps cannot recognize that session.

[2022-05-16 19:06] john-light commented on #788
@waokdalf yes. you are commenting in the repository that contains its source code. See: https://github.com/floating/frame

[2022-05-17 10:09] waokdalf commented on #788
I am asking because I saw several projects with code on github, but it was not fully open source. If you are, then it is very good. I hope your wallet will be more popular.
Now what we have now. Only 3 open source wallets: MEW, Frame, Gnosissafe and many many other shitwallets who wants to control other people.

[2022-05-17 20:14] jmhickman commented on #832
I was able to get to the bottom of this stacking transactions behavior.

If the chain Frame is connected to doesn't continuously mine blocks, (as dev chains are often set to) then these cards will never disappear.

However, if you run `geth` with the `--dev.period` option to simulate continuous block production, Frame behaves normally.

So the time the card is displayed seems to be linked to block

[2022-05-17 20:16] jmhickman commented on #818
Would still like to see this. We get people through the discord who have to manually modify transactions when the dapp is assuming the wallet is respecting its transaction object. On Fantom in particular, if the dapp has a better idea of the gas rate than Frame does, these transactions wouldn't be underpriced.

[2022-05-19 22:38] jmhickman opened #848 "Transaction card stuck in 'Sending' when user switches away during send"
Frame will show a stuck card like so:

![image](https://user-images.githubusercontent.com/6581761/169415513-b588c9f2-e31f-4bbe-b722-5e13d1f8da11.png)

if the user switches to another account specifically after the 'Sending' graphic appears but _before_ the graphic switches to the normal pending transaction appearance.

This is pretty repeatable. It requires Frame to be exited and reopened  to clea

[2022-05-21 14:33] anon238 opened #852 "Create an AppImage for Linux next to deb files"

[2022-05-21 19:24] anon238 opened #853 "Option to set proxy settings"

[2022-05-27 08:06] nlordell opened #873 "Signing 20-byte Message Doesn't Work"
When signing a 20-byte message with `personal_sign` an error is returned instead of initializing the usual signing workflow.

From quickly browsing the code, this is related to the "normalization" of the address and message parameters (since `eth_sign` expects `[account, message]` and `personal_sign` expects `[message, account]`):

https://github.com/floating/frame/blob/54b2d35bc33ff9e26500e87bf51

[2022-05-28 16:24] autoregressive opened #876 "Trezor Model T incorrect version comparison"
The following version check being done for Trezor model T is incorrect.

https://github.com/floating/frame/blob/2df13800ab0ac10aba61660df5433c8f26018fdc/main/transaction/index.ts#L24

Consider the scenario where version.minor >= 2, version.minor >= 4, and version.patch < 2.

`(version.major >= 2 && version.minor >= 4 && version.patch >= 2)` evaluates to `(True && True && False)`

Here is a propose

[2022-05-28 17:47] autoregressive commented on #876
#877 created a PR

[2022-06-05 08:59] 0xF16 commented on #876
I think this is what is causing Frame to display following message. Earlier, Frame and Trezor T were working with new transaction formats
![image](https://user-images.githubusercontent.com/94185094/172043207-206f160d-5cea-47a9-821c-34239028ffa6.png)

[2022-06-13 11:31] luluwebmaster commented on #297
Hello, is it no longer in the plans to integrate [CoolWallet(S/X)](https://www.coolwallet.io/) support ?

I think I'm not the only one waiting for his support 😉

[2022-06-17 03:01] d34dscene opened #898 "[Feature Request] Transfer between accounts"
Hi, awesome wallet! It would be great if there was a simple way to select your own accounts when sending tokens/eth to yourself, just like metamasks "transfer between accounts" function to avoid copy-paste errors.

[2022-06-17 18:30] goosewobbler commented on #510
@InvisibleSymbol what is your monitor configuration?   Main could be either side.  It triggers within a fine region on the right side of my left monitor (arguably not desired in a multi-monitor setup) and more reliably on the right side of my right monitor.

[2022-06-20 13:23] AugustoL opened #903 "Cant do transfers on non-mainnet networks"
I just updated to v0.5.0 beta 19 and I cant do transfer with my trezor to other networks that are not mainnet, the transfer window is always on mainnet network, it doesnt matter if you switch networks, it always asks the recipient and asset for mainnet.

On ubuntu 20.04.5 with gnome 3.36.

[2022-06-20 15:20] goosewobbler commented on #634
@ssteiger is this still an issue?  It works on Monterey for me.

[2022-06-20 22:23] goosewobbler commented on #852
@anon238 What do you mean by "next to deb files"?  The AppImage is available here:
https://github.com/floating/frame/releases

[2022-06-21 04:24] anon238 commented on #852
Ah didn’t saw this one. Thanks!

[2022-06-21 04:24] #852 closed, assigned to nobody

[2022-06-21 15:46] ZeroEkkusu opened #905 "fix: require rpc but not explorer to add a chain"
## Issue

The user is unable to add a new chain if they do not specify `Block Explorer`.

Sometimes, there may be no block explorer (e.g. if the chain is a development chain and a block explorer is not set up locally), or the user may not want to specify one.

![image](https://user-images.githubusercontent.com/94782988/174841754-f379f570-bffd-47a3-8c20-cc27ea9e380c.png)

[2022-06-26 12:38] mickaphd opened #911 "High CPU macOS"
Everything in the title. Frame Helper.

[2022-06-27 17:22] sloppycoffee commented on #789
Had the same issue. If you run frame from the command line you can see you don't have permission for that device. You need to add the udev rules.

https://github.com/LedgerHQ/udev-rules

[2022-06-28 16:15] #247 closed

[2022-06-29 14:40] #905 closed, assigned to nobody

[2022-07-01 07:37] mholtzman commented on #876
fixed by #877

[2022-07-01 07:37] #876 closed, assigned to nobody

[2022-07-01 16:07] rhythnic opened #918 "Unable to deploy contract from 0.5.0-beta.20"
Unable to deploy contracts with Frame using version 0.5.0-beta.20 (Appimage on Ubuntu)

Error:
[code]

Code:
[code]

[2022-07-01 17:12] floating commented on #918
Thanks for reporting @rhythnic what type of signer are you using here?

[2022-07-01 17:13] rhythnic commented on #918
I used a ring account and a seed account in testing.

[2022-07-01 17:14] floating commented on #918
Thanks for the info, will look into this

[2022-07-04 01:56] Sshimaninja opened #923 "Gas estimates cause "transaction underpriced" rejection."
On Polygon, the fee data updates dynamically, but accepting and signing the tx leads to "transaction under-priced" rejection and I have to blindly edit the gas price to something astronomical to make it go through. Obviously I'm refunded the difference, but the stress point is debilitating for smooth transactions. I often have to put through 2-4 times before it takes.

Using custom RPC (Infura), o

[2022-07-05 08:27] goosewobbler commented on #842
@anon238 We've fixed a lot of bugs in the last two releases, is this still happening in Beta.20?

[2022-07-05 08:36] goosewobbler commented on #804
@EroticKlaxon this is being worked on.

[2022-07-05 08:40] goosewobbler commented on #802
@anon238 Is this still an issue?  The most common problem with Ledger devices is running the Ledger Live software at the same time as Frame.  If this doesn't fix it then please visit the support channel in our discord and we can get some more details from you.

[2022-07-05 08:40] #802 closed, assigned to nobody

[2022-07-05 08:41] goosewobbler commented on #634
@ssteiger closing this for now, if you have any more details then we can reopen, also feel free to visit the support channel in our discord for help.

[2022-07-05 08:41] #634 closed, assigned to nobody

[2022-07-05 08:56] goosewobbler commented on #903
@AugustoL is this still an issue with beta.20?  We shipped a few Trezor fixes in that release.

[2022-07-05 09:03] goosewobbler commented on #911
@mickaphd which version of MacOS are you using?  Is this happening immediately after running Frame, after a specific interaction, after a certain amount of time, or something else?  Would you be able to send us some logs?  Please feel free to visit the support channel in our discord and we can get some more information from you.

[2022-07-05 09:16] goosewobbler commented on #676
@jopletsch @0xF16 we released a load of fixes for Trezor in beta.20, is this still an issue?

Also asking @0xt3rtium regarding the Lattice - a lot of code has been shipped since January, is this still an issue?

[2022-07-05 09:22] jopletsch commented on #676
After a few days of testing beta.20 it seems that the issues have been entirely fixed by that update. I have yet to do tests on my second PC and using a Trezor One, but it seems like the issue of not detecting the device on my main Trezor T seems to be gone. Great job 🥳

[2022-07-05 09:30] goosewobbler commented on #676
@0xt3rtium I'm going to close this just now but if you are experiencing any lattice connection issues feel free to visit our support channel in discord and we can get some more information.

[2022-07-05 09:30] #676 closed, assigned to nobody

[2022-07-05 09:38] goosewobbler commented on #834
@antonio-fr is this still an issue on beta.20?

[2022-07-05 09:50] #499 closed

[2022-07-05 09:58] anon238 commented on #842
This is resolved.

[2022-07-05 09:58] #842 closed, assigned to nobody

[2022-07-05 10:00] anon238 commented on #802
I don’t use Discord, but I will check later this week whether I still have this issue. Keep you posted.

[2022-07-05 13:16] AugustoL commented on #903
I realized I had to scroll now on assets, that it didnt changed when I changed networks, that all of them are listed on all networks, that was why.. a bit confussing, closing the issue now

[2022-07-05 13:16] #903 closed, assigned to nobody

[2022-07-05 15:55] goosewobbler commented on #766
Fixed

[2022-07-05 15:55] #766 closed, assigned to nobody

[2022-07-05 17:08] antonio-fr commented on #834
Sorry, I can't tell. I removed Frame weeks ago, I'm using Rabby or Uniblow for web3 wallet.

[2022-07-05 18:12] goosewobbler commented on #746
@PhiMarHal This works for me on the latest release beta.20, can you still reproduce it?

[2022-07-05 18:30] goosewobbler commented on #666
@dmihal @xastor Is this still an issue since the Trezor updates released in beta.20?
https://github.com/floating/frame/releases/tag/v0.5.0-beta.20

[2022-07-05 18:43] goosewobbler commented on #772
Hi @bingen, we have another quite similar issue here: https://github.com/floating/frame/issues/488

Do either of the workarounds in that ticket work for you?  We are looking at the possibility of making the keybind customisable.

[2022-07-05 19:03] goosewobbler commented on #772
Closing as a dupe of https://github.com/floating/frame/issues/566

[2022-07-05 19:03] #772 closed, assigned to nobody

[2022-07-05 19:05] goosewobbler commented on #488
@onbjerg @0xt3rtium which OS are you using?

[2022-07-08 16:23] john-light commented on #789
@slayorktc the udev rules are installed. Hence my comment: "I do not have any problem connecting this Ledger to any other wallet apps."

[2022-07-08 18:16] shrugs commented on #628
this issue disappeared for a while but has re-appeared today. both lattice and frame (5.0-beta-20) are on latest

[2022-07-14 13:21] goosewobbler commented on #918
@rhythnic this should be fixed in the beta.21 release, let us know on Discord if you have any further issues.

[2022-07-14 13:21] #918 closed, assigned to mholtzman

[2022-07-14 13:22] goosewobbler commented on #431
@oliviermilla we addressed this issue in the beta.21 release we just shipped, let us know on Discord if you have any further issues.

[2022-07-14 13:22] #431 closed

[2022-07-14 16:18] mholtzman commented on #789
are there any errors in the logs? does it immediately display this error or does it attempt to connect for a while first?

[2022-07-14 16:20] mholtzman commented on #828
we'll take a look at removing this cap.

 as a separate question, does this happen often? don't use Fantom much but most of the transactions I pull up use like 3 gwei

[2022-07-15 18:35] john-light commented on #789
@mholtzman I think I figured out the issue. This message when I started Frame v0.5-beta.21 gave me a hint:

![Screenshot 2022-07-15 142948](https://user-images.githubusercontent.com/9424721/179288316-712196e9-0cfc-4b8e-8197-cacc32f25ba3.png)

I was using the Ledger RSK app to connect, not the Ethereum app. I just tried using Frame v0.5-beta.21 with the Ethereum app and it worked as expected. But w

[2022-07-15 19:17] john-light opened #942 "Currency on RSK chain is incorrectly called "RSK Mainnet Ether""
When I add RSK chain to Frame, the native currency RBTC is called "RSK Mainnet Ether":

![Screenshot 2022-07-15 151232](https://user-images.githubusercontent.com/9424721/179295721-b20c952a-8ee2-44bc-b4d6-085abf28e741.png)

This is confusing, since it wasn't part of the chain config, and I have no way to update/change it:
![Screenshot 2022-07-15 151423](https://user-images.githubusercontent.com/942

[2022-07-15 19:19] john-light opened #943 "Inventory section is endless loading when RSK chain is selected"
After I have added the RSK chain, the Inventory section of Frame just says "Loading items..." forever. It would be nice to be able to disable this section if, as in this case, it isn't being used or can't be used.

![Screenshot 2022-07-15 151311](https://user-images.githubusercontent.com/9424721/179296127-0d9c2848-0dee-4a94-8c9d-1d1337b4b1ad.png)

Kind of related: https://github.com/floating/frame

[2022-07-16 08:32] 0xt3rtium commented on #488
Current macOS (12/Monterey).

[2022-07-16 08:34] 0xt3rtium commented on #676
Sorry, missed activity in here before.
But confirmed! Haven't seen this issue in a while.

[2022-07-17 22:03] goosewobbler commented on #942
Hi @john-light, I've reproduced this on the latest release. Frame (via Pylon) gets chain data from ethereum-lists - you'd be better off raising an issue / PR there.  I think [this](https://github.com/ethereum-lists/chains/blob/master/_data/chains/eip155-30.json) is the file you need to change.

https://chainid.network/chains.json
https://github.com/ethereum-lists/chains

[2022-07-17 22:03] #942 closed, assigned to nobody

[2022-07-17 22:40] goosewobbler commented on #283
@bowensanders is the original issue here resolved?  The mentioned PR was merged some time ago.  If there are further issue(s) to follow up feel free to create a new one.

[2022-07-17 23:26] goosewobbler commented on #839
@sk33z3r I suspect this is related to the Glide feature being enabled - this summons frame when you move the mouse to the right edge of the screen.  Does it produce the expected behaviour when turned off?

[2022-07-17 23:29] john-light opened #945 "Add ability to edit custom token"
It's possible to add a custom token or delete a token but not edit a token. If something doesn't look right after a token is added, it would be nice to be able to edit the token details rather than have to delete the token and re-add all of the info.

![Screenshot 2022-07-17 192801](https://user-images.githubusercontent.com/9424721/179429110-fa7eadc2-50bb-4eee-8f62-199f5b05c670.png)

[2022-07-17 23:30] john-light opened #946 "Custom token icon appears in settings but not on the send page"
See how the ZUSD token icon image is broken on the send page but appears fine in the settings menu:

![Screenshot 2022-07-17 192659](https://user-images.githubusercontent.com/9424721/179429259-5b4d1856-c5f4-4d8f-b79f-916dfde8a6be.png)

Edit: I should note that after restarting Frame, the token icon is now appearing correctly on the send page.

[2022-07-17 23:34] john-light opened #947 "Network name shown on send page does not match network name on main window"
See how on the send page it says "RSK Tesnet" while on the main Frame window the network is called "RSK".

![Screenshot 2022-07-17 193140](https://user-images.githubusercontent.com/9424721/179429292-19710506-0dd7-454f-8f77-d12a1829ecd8.png)

[2022-07-17 23:35] goosewobbler commented on #510
This may be related to #806

[2022-07-17 23:48] john-light commented on #942
Thanks @goosewobbler I have submitted a PR here: https://github.com/ethereum-lists/chains/pull/1372

[2022-07-17 23:50] goosewobbler commented on #771
Shimming over Polygon validator issues is not our responsibility - wontfix for now.

[2022-07-17 23:55] john-light opened #948 "Frame logo is broken in Windows 10 taskbar when send page is open"
See broken logo on bottom-left of screenshot:

![Screenshot 2022-07-17 195249](https://user-images.githubusercontent.com/9424721/179429918-360d3def-02a0-4167-ab1b-ab844dd6af06.png)

[2022-07-17 23:59] goosewobbler commented on #813
@anon238 this is when sending a transaction in the send dapp?

[2022-07-18 00:13] goosewobbler commented on #947
@john-light You can edit the chain names in the chains panel.  The full chain name is truncated to `RSK TES` in the chain selector dropdown.

<img width="352" alt="Screenshot 2022-07-18 at 01 12 07" src="https://user-images.githubusercontent.com/432005/179430468-b83ef4a1-05c0-4194-b2db-ca7752cda1ea.png">

[2022-07-18 00:26] goosewobbler commented on #816
Hi @SebOnGH, is this still an issue with beta.21 and the latest version of the extension?

[2022-07-18 02:10] john-light opened #949 "Recipient address and send amount are pre-filled after sending a token tx"
Steps to reproduce:
1. Send a token tx
2. Send another tx with a different token
3. Notice that the recipient address and send amount are pre-filled with the values used for the previous tx

Expected behavior:
I expected the recipient address and amount fields to be blank, not pre-filled with the values from the previous tx.

![Screenshot 2022-07-17 220727](https://user-images.githubusercontent.co

[2022-07-18 02:13] john-light opened #950 "User does not have a visual indication that token balance is approximate"
Currently on the token send page the amount of the token is shown without a visual indication that the amount is approximate.

For example, if the user's token balance is 100.123456789 then the balance will show as 100.12 tokens. This may cause the user to enter 100.12 as the send amount, thinking this will send the full amount of their balance, and cause them to have dust tokens left behind. A vi

[2022-07-18 03:16] john-light commented on #947
@goosewobbler in this case, for testing purposes I named the chain "RSK", but for some reason it still shows up as "RSK Testnet" on that send page as the screenshot I shared above shows. I'm wondering where it's getting this network name from. Maybe the chainlist file you referenced on the other issue I opened?

![Screenshot 2022-07-17 231606](https://user-images.githubusercontent.com/9424721/1794

[2022-07-18 03:48] goosewobbler commented on #947
@john-light I see, I was confused as to what you are trying to achieve here.  The send dapp is not reflecting the shorter name you have set for the RSK Testnet in Frame.  Yes, the same chain data file is being used so that's where the names are coming from.

[2022-07-18 10:04] ZeroEkkusu opened #952 "Start Frame minimized on startup"
System: Ubuntu 20.04

## Description

Frame's window pops up on startup.

## Request

Make Frame start minimized on startup, similar to how Discord has the `--start-minimized` flag.

[2022-07-18 11:36] mholtzman commented on #943
this is a separate issue w. loading inventory caused by increased load on our infrastructure and isn't chain specific. we're in the process of investigating the cause and getting this fixed up

[2022-07-18 11:36] #943 closed, assigned to nobody

[2022-07-18 14:05] john-light commented on #947
It sounds like there are conflicting sources of truth about network information. Perhaps, if there are two possible sources, Frame could default to the user-provided input since this is what the user is most likely to expect?

[2022-07-20 14:30] cyberbohu opened #955 "Freeze when using the dapp app.benqi.fi on Mac M1"
till the .20 update, when I launch Frame it will freeze / crash in the next minute

[2022-07-23 02:53] ottodevs commented on #911
My Frame installation has become unusable on Intel Mac using last version (0.5.0 beta 21)

- Frame chrome extension does not detect Frame installed and running on the computer.
- After unlocking a signer it freezes while loading balances.
- When trying to add a chain manually, it freezes completely, consuming 100% CPU, only solution is to Force Quit the process from activity monitor.
- When adding